<html>
<head>
<meta charset="utf-8">

<title>Likitomi: Clamplift Apps</title>

<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<link rel="stylesheet" type="text/css" href="css/jALDropDown1.7.3.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

div
{
position:absolute;
background-color:white;
}

td
{
text-align:center;
border:0px solid black;
}

button {height:30px;}

/* PLAN */
option {padding:10px;}

/* CLAMPLIFT */
#numbtn
{
position: absolute;
width: 50px;
height: 50px;
background-color: dimgray;
border: 2px solid silver;
}

#lanebtn
{
position: absolute;
width: 75px;
height: 25px;
background-color: slategray;
border: 2px solid silver;
}

#confirm
{
position:absolute;
bottom:10px;
height:50px;
width:80px;
border:2px solid silver;
background-color:dimgray;
}

/* MENU TABS */
#plantab, #layouttab, #clamplifttab, #searchtab
{
width:175px;
height:95px;
background-color:white;
}

</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/jquery-ui-1.8.11.custom.min.js"></script>
<script type="text/javascript" src="javascript/jALDropDown1.7.3.js"></script>
<script type="text/javascript">
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('clock').innerHTML=h+":"+m+":"+s;
t=setTimeout('startTime()',500);
}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}

$(document).ready(function(){

// PLAN //
	startTime();

	$("#opdate").change(function(){
		var opdate = $("#opdate").val();
		if (opdate == ""){
			$("#showplan").css("visibility","hidden");
//			$("#magplan").attr("disabled","disabled");
		}
		else {
			$("#showplan").css("visibility","visible");
			$("#showplan").attr("src", "/showplan/?opdate="+opdate);
			$("#magplan").removeAttr("disabled");
			var status = $("#status").val();
			if (status == "min"){
				$("#showplan").attr("src", "/showplan/?opdate="+opdate);
			}
			else if (status == "req"){
				$("#showplan").attr("src", "/required/?opdate="+opdate);
			}
			else if (status == "det"){
				$("#showplan").attr("src", "/detail/?opdate="+opdate);
			}
		}
	});

	$("#uppest").click(function(){$("#showplan")[0].contentWindow.scrollTo(0,0);});
	$("#upper").click(function(){$("#showplan")[0].contentWindow.scrollBy(0,-252);});
	$("#up").click(function(){$("#showplan")[0].contentWindow.scrollBy(0,-84);});
	$("#down").click(function(){$("#showplan")[0].contentWindow.scrollBy(0,84);});
	$("#downer").click(function(){$("#showplan")[0].contentWindow.scrollBy(0,252);});
	$("#downest").click(function(){$("#showplan")[0].contentWindow.scrollTo(0,9999);});

// Buttons //
	$( "#magplan" ).button({icons: {primary: "ui-icon-zoomin"}, text: false});
	$( "#uppest" ).button({icons: {primary: "ui-icon-seek-start"}, text: false});
	$( "#upper" ).button({icons: {primary: "ui-icon-seek-prev"}, text: false});
	$( "#up" ).button({icons: {primary: "ui-icon-triangle-1-w"}, text: false});
	$( "#downest" ).button({icons: {primary: "ui-icon-seek-end"}, text: false});
	$( "#downer" ).button({icons: {primary: "ui-icon-seek-next"}, text: false});
	$( "#down" ).button({icons: {primary: "ui-icon-triangle-1-e"}, text: false});

	$( "#radio" ).buttonset();

	$("#radio").hide();
	$("#reqhead").hide();
	$("#dethead").hide();
	$("#magplan, #plantab").click(function(){
		$("#layout, #clamplift, #search").hide();
//		$("#plan").show().animate({"width":"800px","height":"495px"});
		$("#plan").fadeIn().css({"width":"800px","height":"495px"});
		$("#magplan").hide();
		$("#radio").show();
		$("#minhead").hide();
		$("#reqhead").show();
		$("#dethead").hide();
		var opdate = $("#opdate").val();
		$("#showplan").attr("src","/required/?opdate="+opdate);
		$("#showplan").css({"width":"800px","height":"338px"});
//		$("#phead, #pbody").animate({"width":"200px"}, function(){$(this).animate({"width":"800px"});});
		$("#status").val("req");
		$("#upper").parent().css("left","390px");
		$("#downer").parent().css("left","390px");
		$("#reqbtn").attr("checked","checked").button("refresh");
		$("#detbtn").removeAttr("checked").button("refresh");
		$("#menutab").fadeIn();
	});

	$("#reqbtn").click(function(){
		$("#dethead").hide();
		$("#reqhead").show();
		var opdate = $("#opdate").val();
		$("#showplan").attr("src","/required/?opdate="+opdate);
		$("#status").val("req");
	});

	$("#detbtn").click(function(){
		$("#reqhead").hide();
		$("#dethead").show();
		var opdate = $("#opdate").val();
		$("#showplan").attr("src","/detail/?opdate="+opdate);
		$("#status").val("det");
	});

// LAYOUT //
	$( "#maglay" ).button({icons: {primary: "ui-icon-zoomin"}, text: false});
	$("#maglay, #layouttab").click(function(){
		$("#plan, #clamplift, #search").hide();
//		$("#layout").show().animate({"width":"800px","height":"495px","top":"0px","left":"0px"});
		$("#layout").fadeIn().css({"width":"800px","height":"495px","top":"0px","left":"0px"});
		$("#maglay").hide();
		$("#menutab").fadeIn();
		$("#map").css("margin-top","0px");
	});

// CLAMPLIFT //
	$( "#magclamp" ).button({icons: {primary: "ui-icon-zoomin"}, text: false});
	$("#maxclamp").hide();
	$("#magclamp, #clamplifttab").click(function(){
		$("#plan, #layout, #search").hide();
//		$("#clamplift").show().animate({"width":"800px","height":"495px","top":"0px","left":"0px"});
		$("#clamplift").fadeIn().css({"width":"800px","height":"495px","top":"0px","left":"0px"});
		$("#magclamp").hide();
		$("#menutab").fadeIn();
		$("#clampsta").val("maxsta");
		$("#minclamp").hide();
		$("#maxclamp").show();
	});

// SEARCH //
	$( "#magsearch" ).button({icons: {primary: "ui-icon-zoomin"}, text: false});
	$("#magsearch, #searchtab").click(function(){
		$("#plan, #layout, #clamplift").hide();
		$("#search").fadeIn().css({"width":"800px","height":"495px","top":"0px","left":"0px"});
		$("#magsearch").hide();
		$("#menutab").fadeIn();
	});
	$( "#searchbtn" ).button({icons: {primary: "ui-icon-search"}});
	$("#searchbtn").click(function(){
		var pcode = $('#map').contents().find('#pcode').val();
		var width = $('#map').contents().find('#width').val();
		var loss = $('#map').contents().find('#loss').val();

		var spcode = $('#spcodedd').val();
		var swidth = $('#swidthdd').val();

		var cpcode = $('#map').contents().find('#cpcode').val();
		var cwidth = $('#map').contents().find('#cwidth').val();
		var lane = $('#map').contents().find('#lane').val();
		var position = $('#map').contents().find('#position').val();
		var atlane = $('#map').contents().find('#atlane').val();
		var atposition = $('#map').contents().find('#atposition').val();
		var clamping = $('#map').contents().find('#clamping').val();
		var changed = $('#map').contents().find('#changed').val();
		if (spcode != "" && swidth != ""){
			top.map.location = "/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed;
		}
	});

// MENU TABS //
	$("#menutab").hide();
	$("#dashtab").click(function(){
		$("#menutab").fadeOut();
		$("#magplan").show();
		$("#maglay").show();
		$("#magclamp").show();
		$("#magsearch").show();
		$("#plan, #layout, #clamplift, #search").fadeIn();
		// PLAN //
		$("#plan").css({"width":"398px","height":"403px"});
		$("#minhead").show();
		$("#reqhead").hide();
		$("#dethead").hide();
		$("#radio").hide();
		var opdate = $("#opdate").val();
		$("#showplan").attr("src","/showplan/?opdate="+opdate);
		$("#showplan").css({"width":"398px","height":"254px"});
		$("#status").val("min");
		$("#upper").parent().css("left","185px");
		$("#downer").parent().css("left","185px");
		// LAYOUT //
		$("#layout").css({"width":"398px","height":"551px","top":"42px","left":"400px"});
		$("#map").css("margin-top","35px");
		// CLAMPLIFT //
		$("#clamplift").css({"width":"398px","height":"188px","top":"405px","left":"0px"});
		$("#clampsta").val("minsta");
		$("#minclamp").show();
		$("#maxclamp").hide();
		// SEARCH //
		$("#search").animate({"width":"398px","height":"40px","top":"0px","left":"400px"});
	});
//	$("#plantab").click(function(){
//		$("#layout, #clamplift, #search").hide();
//		$("#plan").fadeIn().css({"width":"800px","height":"495px"});
//	});
//	$("#layouttab").click(function(){
//		$("#plan, #clamplift, #search").hide();
//		$("#layout").fadeIn().css({"width":"800px","height":"495px","top":"0px","left":"0px"});
//	});
//	$("#clamplifttab").click(function(){
//		$("#plan, #layout, #search").hide();
//		$("#clamplift").fadeIn().css({"width":"800px","height":"495px","top":"0px","left":"0px"});
//	});

//	$("#opdate").jALDropdown({Action:{"ActionName":"disable"}});



});
</script>

</head>

<body style="background-color:black;">
<button id="mybtn">Button</button>
<!--PLAN-->
	<div id="plan" style="top:0px; left:0px; width:398px; height:403px;">
		<div id="clock" style="top:0px; left:0px;"></div>
		<div style="top:0px; left:100px;">{% now "Y-m-d" %}</div>
<!--		<div style="top:35px; left:100px;" id="div1">555</div>-->
		<div style="top:0px; left:200px;">
			<input id="status" value="min" type="hidden" />
			<form>
				<select id="opdate" name="opdate" style="height:30px;">
					<option value="" selected="selected">Date:</option>
					{% for date in datelist %}
					<option value="{{ date }}" {% if opdate == date %}selected="selected"{% endif %}>{{ date }}</option>
					{% endfor %}
				</select>
			</form>
		</div>
		<div id="radio" style="top:0px; left:500px;">
			<input type="radio" id="reqbtn" name="radio" checked="checked" /><label for="reqbtn">Required</label>
			<input type="radio" id="detbtn" name="radio" /><label for="detbtn">Detail</label>
		</div>
		<div style="top:0px; right:0px;"><button id="magplan">Plan</button></div> <!--Magnifying Button-->
		<div style="top:35px; left:0px;"><button id="uppest">Top Most</button></div>
		<div style="top:35px; left:185px;"><button id="upper">Seek Previous</button></div>
		<div style="top:35px; right:0px;"><button id="up">Previous</button></div>
		<div style="bottom:0px; left:0px;"><button id="downest">Bottom Most</button></div>
		<div style="bottom:0px; left:185px;"><button id="downer">Seek Next</button></div>
		<div style="bottom:0px; right:0px;"><button id="down">Next</button></div>
		<div id="phead" style="top:68px; left:0px;">
			<table id="minhead" style="font-size:100%;">
				<tr style="background-color:black; color:white;">
					<td rowspan='2' style="width:10px; background-color:white;"></td>
					<td rowspan='2' style="width:52px;">TIME</td>
					<td rowspan='2' style="width:70px;">SHEET CODE</td>
					<td style="width:75px;">SIZE</td>
					<td style="width:75px;">BL</td>
					<td style="width:75px;">BM</td>
				</tr>
				<tr style="background-color:black; color:white;">
					<td>DF</td>
					<td>CL</td>
					<td>CM</td>
				</tr>
			</table>
			<table id="reqhead" style="font-size:100%;">
				<tr style="background-color:black; color:white;">
					<td rowspan='2' style="width:10px; background-color:white;"></td>
					<td rowspan='2' style="width:52px;">TIME</td>
					<td rowspan='2' style="width:70px;">SHEET<br />CODE</td>
					<td rowspan='2' style="width:67px; text-align:right;">S.O.NO.<br />ORD.NO.</td>
					<td rowspan='2' style="width:21px;">F</td>
					<td rowspan='2' style="width:72px;">PAPER<br />D-F</td>
					<td style="width:73px;">B-L</td>
					<td style="width:73px;">B-M</td>
					<td rowspan='2' style="width:79px;">PAPER<br />WIDTH</td>
					<td rowspan='2' style="width:118px;">USED(KGS)<br />D-F</td>
					<td style="width:50px;">B-L</td>
					<td style="width:50px;">B-M</td>
				</tr>
				<tr style="background-color:black; color:white;">
					<td>C-L</td>
					<td>C-M</td>
					<td>C-L</td>
					<td>C-M</td>
				</tr>
			</table>
			<table id="dethead" style="font-size:100%;">
				<tr style="background-color:black; color:white;">
					<td rowspan='2' style="width:10px; background-color:white;"></td>
					<td rowspan='2' style="width:52px;">TIME</td>
					<td rowspan='2' style="width:70px;">SHEET<br />CODE</td>
					<td rowspan='2' style="width:67px; text-align:right;">S.O.NO.<br />ORD.NO.</td>
					<td rowspan='2' style="width:120px; text-align:left;">CUST. NAME<br />PRODUCT</td>
					<td rowspan='2' style="width:63px;">USED(L)<br />D-F</td>
					<td style="width:40px;">B-L</td>
					<td style="width:40px;">B-M</td>
					<td rowspan='2' style="width:86px;">USED(KGS)<br />D-F</td>
					<td style="width:40px;">B-L</td>
					<td style="width:40px;">B-M</td>
					<td rowspan='2' style="width:66px;">SHEET<br />LENGTH</td>
					<td style="width:42px;">CASE</td>
				</tr>
				<tr style="background-color:black; color:white;">
					<td>C-L</td>
					<td>C-M</td>
					<td>C-L</td>
					<td>C-M</td>
					<td>CUT</td>
				</tr>
			</table>
			<div id="pbody"><iframe id="showplan" src="/showplan/?opdate={% now "Y-m-d" %}" frameborder="0" style="visibility:hidden; width:398px; height:254px;" marginheight="0" marginwidth="0" scrolling="no"></iframe></div>
		</div>
	</div>

<!--LAYOUT-->
	<div id="layout" style="top:42px; left:400px; width:398px; height:551px;">
		<div style="top:0px; right:0px;"><button id="maglay">Layout</button></div> <!--Magnifying Button-->
		<iframe id="map" name="map" src="/inventory/" frameborder="0" style="width:100%; height:500px; margin-top:35px; margin-left:0px;" scrolling="no"></iframe>
	</div>

<!--CLAMPLIFT-->
	<div id="clamplift" style="top:405px; left:0px; width:398px; height:188px;">
		<div style="top:0px; right:0px;"><button id="magclamp">Clamplift</button></div> <!--Magnifying Button-->
		<input id="clampsta" value="minsta" type="hidden" />
		<iframe id="minclamp" src="/minclamp/" frameborder="0" style="width:100%; height:100%; margin-height:35px; margin-left:0px;" scrolling="no"></iframe>
		<iframe id="maxclamp" src="/maxclamp/" frameborder="0" style="width:100%; height:100%; margin-height:0px; margin-left:0px;" scrolling="no"></iframe>
	</div>

<!--SEARCH-->
	<div id="search" style="top:0px; left:400px; width:398px; height:40px;">
<!--		<div style="top:0px; right:0px;"><button id="magsearch">Search</button></div> <!--Magnifying Button-->
		<div style="top:0px; right:0px;"><table style="margin-top:0px;">
			<tr>
				<td>
					<form class="ui-menu">
						<select id="spcodedd" style="height:30px;">
							<option value="" selected="selected">Paper Code:</option>
							{% for paper_code in spcodelist %}
							<option value="{{ paper_code }}">{{ paper_code }}</option>
							{% endfor %}
						</select>
					</form>
				</td>
				<td>
					<form class="ui-menu">
						<select id="swidthdd" style="height:30px;">
							<option value="" selected="selected">Size:</option>
							{% for size in swidthlist %}
							<option value="{{ size }}">{{ size }}</option>
							{% endfor %}
						</select>
					</form>
				</td>
				<td colspan="2"><button id="searchbtn" style="font-size:80%;">Search</button></td>
			</tr>
		</table></div>
	</div>

<!--MENU TABS-->
	<div id="menutab" style="position:fixed; bottom:0px; left:0px; width:800px; height:100px; background-color:black;">
		<div id="plantab" style="bottom:0px; left:0px; background-image:url('images/clamplift/plantab.png');"><center><h2>PLAN</h2></center></div>
		<div id="layouttab" style="bottom:0px; left:180px; background-image:url('images/clamplift/layouttab.png');"><center><h2>LAYOUT</h2></center></div>
		<div id="clamplifttab" style="bottom:0px; left:360px; background-image:url('images/clamplift/clamplifttab.png');"><center><h2>CLAMPLIFT</h2></center></div>
<!--		<div id="searchtab" style="bottom:0px; left:450px;">Search</div>-->
		<div id="dashtab" style="bottom:0px; left:540px; width:255px; height:95px; background-image:url('images/clamplift/dashtab.png');"><center><h2>DASHBOARD</h2></center></div>
	</div>

</body>
</html>
