<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

td
{
text-align:center;
vertical-align:middle;
}
</style>
</head>
<body onload="window.scrollTo(0,{{scroll}})">
	<table style="font-size:100%">
		{% for start_time, sheet_code, sono, ordno, customer_name, product, length_df, length_bl, length_bm, length_cl, length_cm, actual_df, actual_bl, actual_bm, actual_cl, actual_cm, sheet_length, case, cut, n in nlist %}
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}#E5E5E5{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			<td class="infront" rowspan="2" style="width:10px; border:0px; background-color:white;">{% if n == chosen %}>{% endif %}</td>
			<td rowspan="2" style="width:52px;">{{ start_time|time:"H:i" }}</td>
			<td rowspan="2" style="width:70px;">{{ sheet_code }}</td>
			<td rowspan="2" style="width:67px; text-align:right;">{{ sono }}<br />{{ ordno }}</td>
			<td rowspan="2" style="width:120px; text-align:left; font-size:75%;">{{ customer_name }}<br />{{ product }}</td>
			<td rowspan="2" style="width:63px; vertical-align:bottom; padding-bottom:11px;">{{ length_df }}</td>
			<td style="width:40px; height:40px;">{{ length_bl }}</td>
			<td style="width:40px;">{{ length_bm }}</td>
			<td rowspan="2" style="width:86px; text-align:right; vertical-align:bottom; padding-bottom:11px;"><center>ACTUAL</center>{{ actual_df }}</td>
			<td style="width:40px;">{{ actual_bl }}</td>
			<td style="width:40px;">{{ actual_bm }}</td>
			<td rowspan="2" style="width:66px;">{{ sheet_length }}</td>
			<td style="width:42px;">{{ case }}</td>
		</tr>
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}#E5E5E5{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			<td style="height:40px;">{{ length_cl }}</td>
			<td>{{ length_cm }}</td>
			<td>{{ actual_cl }}</td>
			<td>{{ actual_cm }}</td>
			<td>{{ cut }}</td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>
