<html>
<head>
<title>Likitomi: Clamplift Apps</title>

<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
td
{
border: 0px solid black;
text-align:center;
}

#numbtn
{
position: absolute;
width: 50px;
height: 50px;
background-color: dimgray;
border: 2px solid silver;
}

#lanebtn
{
position: absolute;
width: 75px;
height: 25px;
background-color: slategray;
border: 2px solid silver;
}

#confirm
{
position:absolute;
bottom:10px;
height:50px;
width:80px;
border:2px solid silver;
background-color:dimgray;
}
</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
function startTime()
{
var today=new Date();
var h=today.getHours();
var m=today.getMinutes();
var s=today.getSeconds();
// add a zero in front of numbers<10
m=checkTime(m);
s=checkTime(s);
document.getElementById('clock').innerHTML=h+":"+m+":"+s;
t=setTimeout('startTime()',500);
}

function checkTime(i)
{
if (i<10)
  {
  i="0" + i;
  }
return i;
}

$(document).ready(function(){
	startTime();

	top.map.location = "/inventory/";

	$("#selected").change(function(){
		var opdate = $("#selected").val();
		if (opdate == ""){
			$("#plan").css("visibility","hidden");
			$("#whole").attr("disabled","disabled");
		}
		else {
			$("#plan").css("visibility","visible");
			$("#whole").removeAttr("disabled");
			var status = $("#status").val();
			if (status == "min"){
				$("#plan").attr("src", "/showplan/?opdate="+opdate);
			}
			else if (status == "req"){
				$("#plan").attr("src", "/required/?opdate="+opdate);
			}
			else if (status == "det"){
				$("#plan").attr("src", "/detail/?opdate="+opdate);
			}
		}
		$("#legend").hide();
	});

	$("#uppest").click(function(){
		$("#plan")[0].contentWindow.scrollTo(0,0);
	});

	$("#upper").click(function(){
		$("#plan")[0].contentWindow.scrollBy(0,-216);
	});

	$("#up").click(function(){
		$("#plan")[0].contentWindow.scrollBy(0,-72);
	});

	$("#down").click(function(){
		$("#plan")[0].contentWindow.scrollBy(0,72);
	});

	$("#downer").click(function(){
		$("#plan")[0].contentWindow.scrollBy(0,216);
	});

	$("#downest").click(function(){
		$("#plan")[0].contentWindow.scrollTo(0,9999);
	});

	$("#legend").hide();
	$("#slegend").hide();
	$("#search").click(function(){
		var pcode = $('#map').contents().find('#pcode').val();
		var width = $('#map').contents().find('#width').val();
		var loss = $('#map').contents().find('#loss').val();

		var spcode = $('#spcodedd').val();
		var swidth = $('#swidthdd').val();

		var cpcode = $('#map').contents().find('#cpcode').val();
		var cwidth = $('#map').contents().find('#cwidth').val();
		var lane = $('#map').contents().find('#lane').val();
		var position = $('#map').contents().find('#position').val();
		var atlane = $('#map').contents().find('#atlane').val();
		var atposition = $('#map').contents().find('#atposition').val();
		var clamping = $('#map').contents().find('#clamping').val();
		var changed = $('#map').contents().find('#changed').val();
		if (spcode != "" && swidth != ""){
			$("#slegend").show();
			top.map.location = "/inventory/?pcode="+pcode+"&width="+width+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed;
		}
	});

	$("#min").hide();
	$("#reqhead").hide();
	$("#dethead").hide();
	$("#reqdet").hide();
	$("#whole").click(function(){
		$(this).hide();
		$("#min").show();
//		$("#plan").animate({width:"1500px"});
		$("#hide").hide();
		$("#span").attr("colspan","3")
		$("#reqdet").show();
		// Table Head //
		$("#minhead").hide();
		$("#reqhead").show();
		// Table Body //
		var opdate = $("#selected").val();
		$("#plan").attr("src","/required/?opdate="+opdate);
		$("#status").val("req");
		$("#legend").hide();
		// Buttons //
		$("#reqbut").attr("disabled","disabled");
		$("#detbut").removeAttr("disabled");
		$("#search").attr("disabled","disabled");
		$("#spcodedd").attr("disabled","disabled");
		$("#swidthdd").attr("disabled","disabled");
	});

	$("#min").click(function(){
		$(this).hide();
		$("#whole").show();
//		$("#plan").animate({width:"1500px"});
		$("#hide").show();
		$("#span").attr("colspan","1")
		$("#reqdet").hide();
		// Table Head //
		$("#minhead").show();
		$("#reqhead").hide();
		$("#dethead").hide();
		// Table Body //
		var opdate = $("#selected").val();
		$("#plan").attr("src","/showplan/?opdate="+opdate);
		$("#status").val("min");
		// Buttons //
		$("#search").removeAttr("disabled");
		$("#spcodedd").removeAttr("disabled");
		$("#swidthdd").removeAttr("disabled");
	});

	$("#reqbut").click(function(){
		$(this).attr("disabled","disabled");
		$("#detbut").removeAttr("disabled");
		$("#dethead").hide();
		$("#reqhead").show();
		var opdate = $("#selected").val();
		$("#plan").attr("src","/required/?opdate="+opdate);
		$("#status").val("req");
	});

	$("#detbut").click(function(){
		$(this).attr("disabled","disabled");
		$("#reqbut").removeAttr("disabled");
		$("#reqhead").hide();
		$("#dethead").show();
		var opdate = $("#selected").val();
		$("#plan").attr("src","/detail/?opdate="+opdate);
		$("#status").val("det");
	});
});
</script>

</head>

<body>
<table style="width:100%; height:100%; position:absolute; left:0px; right:0px; top:0px; bottom:0px;">
	<tr>
<!--DATETIME-->
		<td style="height:1px;" colspan="2">
			<table style="width:100%;"><tr>
				<td style="text-align:left;"><div id="clock"></div></td>
				<td style="text-align:right;">{% now "Y-m-d" %}</td>
<!--SEARCH-->
				<td style="width:250px;"><img id="slegend" src="images/clamplift/blegend.png"></td>
				<td style="width:1px;">
					<form class="ui-menu">
						<select id="spcodedd">
							<option value="" selected="selected">Paper Code:</option>
							{% for paper_code in spcodelist %}
							<option value="{{ paper_code }}">{{ paper_code }}</option>
							{% endfor %}
						</select>
					</form>
				</td>
				<td style="width:1px;">
					<form class="ui-menu">
						<select id="swidthdd">
							<option value="" selected="selected">Size:</option>
							{% for size in swidthlist %}
							<option value="{{ size }}">{{ size }}</option>
							{% endfor %}
						</select>
					</form>
				</td>
				<td style="vertical-align:middle; width:1px;"><button id="search">Search</button></td>
			</tr></table>
		</td>
	</tr>
	<tr>
<!--PLAN-->
		<td id="span" style="width:45%;">
			<table style="width:100%; height:100%;">
				<tr>
					<td style="width:260px; height:82px;">
<!--						<div id="legend"></div>-->
						<iframe id="legend" frameborder="0" width="260px" height="80px" marginheight="0" marginwidth="0" scrolling="no"></iframe>
					</td>
					<td style="text-align:left;">
						<form>
							<select id="selected" name="opdate">
								<option value="" selected="selected">Date:</option>
								{% for date in datelist %}
								<option value="{{ date }}" {% if opdate == date %}selected="selected"{% endif %}>{{ date }}</option>
								{% endfor %}
							</select>
						</form>
						<button id="whole" disabled="disabled">More</button><button id="min">Less</button>
					</td>
					<input id="status" value="min" type="hidden" />
					<td id="reqdet"><button id="reqbut" disabled="disabled">Required</button><button id="detbut">Detail</button></td>
				</tr>
				<tr>
					<td colspan="3">
						<table style="width:100%;"><tr>
							<td style="width:10px;"></td>
							<td><img id="uppest" src="images/clamplift/earliest.png"/></td>
							<td><img id="upper" src="images/clamplift/early.png"/></td>
							<td><img id="up" src="images/clamplift/earlier.png"/></td>
						</tr></table>
						<table id="minhead" style="font-size:80%;">
							<tr style="background-color:black; color:white;">
								<td rowspan='2' style="width:10px; background-color:white;"></td>
								<td rowspan='2' style="width:52px;">TIME</td>
								<td rowspan='2' style="width:70px;">SHEET CODE</td>
								<td style="width:56px;">SIZE</td>
								<td style="width:56px;">BL</td>
								<td style="width:56px;">BM</td>
							</tr>
							<tr style="background-color:black; color:white;">
								<td>DF</td>
								<td>CL</td>
								<td>CM</td>
							</tr>
						</table>
						<table id="reqhead" style="font-size:80%;">
							<tr style="background-color:black; color:white;">
								<td rowspan='2' style="width:10px; background-color:white;"></td>
								<td rowspan='2' style="width:52px;">TIME</td>
								<td rowspan='2' style="width:70px;">SHEET<br />CODE</td>
								<td rowspan='2' style="width:63px;" class="kr">S.O.NO.<br />ORD.NO.</td>
								<td rowspan='2' style="width:21px;">F</td>
								<td rowspan='2' style="width:72px;">PAPER<br />D-F</td>
								<td style="width:73px;">B-L</td>
								<td style="width:73px;">B-M</td>
								<td rowspan='2' style="width:79px;">PAPER<br />WIDTH</td>
								<td rowspan='2' style="width:118px;">USED(KGS)<br />D-F</td>
								<td style="width:37px;">B-L</td>
								<td style="width:42px;">B-M</td>
							</tr>
							<tr style="background-color:black; color:white;">
								<td>C-L</td>
								<td>C-M</td>
								<td>C-L</td>
								<td>C-M</td>
							</tr>
						</table>
						<table id="dethead" style="font-size:80%;">
							<tr style="background-color:black; color:white;">
								<td rowspan='2' style="width:10px; background-color:white;"></td>
								<td rowspan='2' width="52px">TIME</td>
								<td rowspan='2' width="70px">SHEET<br />CODE</td>
								<td rowspan='2' class="kr" width="63px">S.O.NO.<br />ORD.NO.</td>
								<td rowspan='2' class="kl" width="150px">CUSTOMER NAME<br />PRODUCT</td>
								<td rowspan='2' width="60px">USED(L)<br />D-F</td>
								<td width="30px">B-L</td>
								<td width="30px">B-M</td>
								<td rowspan='2' width="80px">USED(KGS)<br />D-F</td>
								<td width="25px">B-L</td>
								<td width="28px">B-M</td>
								<td rowspan='2' width="65px">SHEET<br />LENGTH</td>
								<td width="40px">CASE</td>
							</tr>
							<tr style="background-color:black; color:white;">
								<td>C-L</td>
								<td>C-M</td>
								<td>C-L</td>
								<td>C-M</td>
								<td>CUT</td>
							</tr>
						</table>

						<iframe id="plan" src="/showplan/?opdate={% now "Y-m-d" %}" frameborder="0" width="100%" height="218px" marginheight="0" marginwidth="0" scrolling="no"></iframe>

						<table style="width:100%;"><tr>
							<td style="width:10px;"></td>
							<td><img id="downest" src="images/clamplift/latest.png"/></td>
							<td><img id="downer" src="images/clamplift/lately.png"/></td>
							<td><img id="down" src="images/clamplift/later.png"/></td>
						</tr></table>
					</td>
				</tr>
			</table>
		</td>
<!--MAP-->
		<td id="hide" style="width:55%;">
			<iframe id="map" name="map" src="/inventory/" frameborder="0" width="100%" height="100%" marginheight="0" marginwidth="0" scrolling="no"></iframe>
		</td>
	</tr>
<!--CLAMPLIFT-->
	<tr>
		<td colspan="2">
			<iframe id="minclamp" src="/minclamp/" frameborder="0" width="100%" height="80px" marginheight="0" marginwidth="0" scrolling="no"></iframe>
<!--			<div id="minclamp"></div>-->
		</td>
	</tr>
</table>
</body>
</html>
