<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

table
{
width:100%;
height:100%;
}

td
{
text-align:center;
vertical-align:middle;
}

.map{border-width:0px; width:25px; height:25px;}

.gray{background-color:lightgray; border-width:0px;}

/* Green shades */
.lkf1{background-color:#005A00; color:white; font-weight:bold; border-width:0px;}
.lkf2{background-color:#008000; color:white; font-weight:bold; border-width:0px;}
.lkf3{background-color:#4DA64D; color:black; font-weight:bold; border-width:0px;}
.lkf4{background-color:#A6D2A6; color:black; font-weight:bold; border-width:0px;}

/* Blue shades */
.s1{background-color:#0000B2; color:white; font-weight:bold; border-width:0px;}
.s2{background-color:#0000FF; color:white; font-weight:bold; border-width:0px;}
.s3{background-color:#6666FF; color:black; font-weight:bold; border-width:0px;}
.s4{background-color:#B2B2FF; color:black; font-weight:bold; border-width:0px;}

/* Red shades */
.ocl1{background-color:#B20000; color:white; font-weight:bold; border-width:0px;}
.ocl2{background-color:#FF0000; color:white; font-weight:bold; border-width:0px;}
.ocl3{background-color:#FF6666; color:black; font-weight:bold; border-width:0px;}
.ocl4{background-color:#FFB2B2; color:black; font-weight:bold; border-width:0px;}

.buff {background-color:lightgray; border:1px solid black; border-width:1px;}

.nomarpad
{
margin-left:0px;
margin:right:0px;
padding-left:0px;
padding-right:0px;
}
</style>
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
//	$("#values").hide();

	$(window).load(function loadMap(){
		var pcode = $("#pcode").val();
		var width = $("#width").val();
		var loss = $("#loss").val();
		var spcode = $("#spcode").val();
		var swidth = $("#swidth").val();
		var cpcode = $('#minclamp', top.document).contents().find('#cpcode').val();
		var cwidth = $('#minclamp', top.document).contents().find('#cwidth').val();
		var lane = $('#minclamp', top.document).contents().find('#lane').val();
		if (lane == 'A' || lane == 'B'){var enal = '1';}
		if (lane == 'C' || lane == 'D'){var enal = '2';}
		if (lane == 'E' || lane == 'F'){var enal = '3';}
		if (lane == 'G' || lane == 'H'){var enal = '4';}
		var position = $('#minclamp', top.document).contents().find('#position').val();
		var atlane = $('#minclamp', top.document).contents().find('#atlane').val();
		var atposition = $('#minclamp', top.document).contents().find('#atposition').val();
		var clamping = $("#clamping").val();
		var changed = $("#changed").val();
		var realtag = $('#minclamp', top.document).contents().find('#realtag').val();
		//alert(enal+"-"+position+" = "+atlane+"-"+atposition);
		if (enal == atlane && position == atposition && clamping == "no" && changed == "no" && lane != undefined){
			var clamping = "yes";
			var changed = "no";
			$("#inventory").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed+"&realtag="+realtag);
		}
		else {
			$("#inventory").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed+"&realtag="+realtag);
		}

		setTimeout(loadMap, 2000);
	});

	$("#locup").click(function(){
		var pcode = $("#pcode").val();
		var width = $("#width").val();
		var loss = $("#loss").val();
		var spcode = $("#spcode").val();
		var swidth = $("#swidth").val();
		var cpcode = $('#minclamp', top.document).contents().find('#cpcode').val();
		var cwidth = $('#minclamp', top.document).contents().find('#cwidth').val();
		var lane = $('#minclamp', top.document).contents().find('#lane').val();
		var position = $('#minclamp', top.document).contents().find('#position').val();
		var atlane = $('#minclamp', top.document).contents().find('#atlane').val();
		var atposition = $('#minclamp', top.document).contents().find('#atposition').val();
		var clamping = "no";
		var changed = "yes";
		var realtag = $('#minclamp', top.document).contents().find('#realtag').val();
		$("#inventory").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed+"&realtag="+realtag+"&loc=up");
	});

	$("#locdown").click(function(){
		var pcode = $("#pcode").val();
		var width = $("#width").val();
		var loss = $("#loss").val();
		var spcode = $("#spcode").val();
		var swidth = $("#swidth").val();
		var cpcode = $('#minclamp', top.document).contents().find('#cpcode').val();
		var cwidth = $('#minclamp', top.document).contents().find('#cwidth').val();
		var lane = $('#minclamp', top.document).contents().find('#lane').val();
		var position = $('#minclamp', top.document).contents().find('#position').val();
		var atlane = $('#minclamp', top.document).contents().find('#atlane').val();
		var atposition = $('#minclamp', top.document).contents().find('#atposition').val();
		var clamping = "no";
		var changed = "yes";
		var realtag = $('#minclamp', top.document).contents().find('#realtag').val();
		$("#inventory").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed+"&realtag="+realtag+"&loc=down");
	});

});
</script>
</head>

<body>
{% load getpos %}
{% load floor %}
{% load second %}
{% load third %}
{% load fourth %}
{% load fifth %}
{% load sixth %}
{% load seventh %}
{% load eighth %}
{% load ninth %}
{% load tenth %}
{% load eleventh %}
{% load twelfth %}
{% load thirteenth %}
<div id="inventory">

<!--<div id="values">-->
<!--	<div id="pcode">{{ pcode }}</div>-->
<!--	<div id="width">{{ width }}</div>-->
<!--	<div id="loss">{{ loss }}</div>-->
<!--	<div id="spcode">{{ spcode }}</div>-->
<!--	<div id="swidth">{{ swidth }}</div>-->
<!--	<div id="cpcode">{{ cpcode }}</div>-->
<!--	<div id="cwidth">{{ cwidth }}</div>-->
<!--	<div id="lane">{{ lane }}</div>-->
<!--	<div id="position">{{ position }}</div>-->
<!--	<div id="atlane">{{ atlane }}</div>-->
<!--	<div id="atposition">{{ atposition }}</div>-->
<!--	<div id="clamping">{{ clamping }}</div>-->
<!--	<div id="changed">{{ changed }}</div>-->
<!--	<div id="realtag">{{ realtag }}</div>-->
<!--	<div id="loc">{{ loc }}</div>-->
<!--</div>-->

<input id="pcode" type="hidden" value="{{ pcode }}" />
<input id="width" type="hidden" value="{{ width }}" />
<input id="loss" type="hidden" value="{{ loss }}" />
<input id="spcode" type="hidden" value="{{ spcode }}" />
<input id="swidth" type="hidden" value="{{ swidth }}" />
<input id="cpcode" type="hidden" value="{{ cpcode }}" />
<input id="cwidth" type="hidden" value="{{ cwidth }}" />
<input id="lane" type="hidden" value="{{ lane }}" />
<input id="position" type="hidden" value="{{ position }}" />
<input id="atlane" type="hidden" value="{{ atlane }}" />
<input id="atposition" type="hidden" value="{{ atposition }}" />
<input id="clamping" type="hidden" value="{{ clamping }}" />
<input id="changed" type="hidden" value="{{ changed }}" />
<input id="realtag" type="hidden" value="{{ realtag }}" />
<input id="loc" type="hidden" value="{{ loc }}" />

<!--H: {{Hlist}} => {{posh}}<br/>-->
<!--4th: {{THlist}} => {{pos4}}<br/>-->
<!--G: {{Glist}} => {{posg}}<br/>-->
<!--F: {{Flist}} => {{posf}}<br/>-->
<!--3rd: {{RDlist}} => {{pos3}}<br/>-->
<!--E: {{Elist}} => {{pose}}<br/>-->
<!--D: {{Dlist}} => {{posd}}<br/>-->
<!--2nd: {{NDlist}} => {{pos2}}<br/>-->
<!--C: {{Clist}} => {{posc}}<br/>-->
<!--B: {{Blist}} => {{posb}}<br/>-->
<!--1st: {{STlist}} => {{pos1}}<br/>-->
<!--A: {{Alist}} => {{posa}}<br/>-->
<!--PLAN: {{mlist}}<br/>SEARCH: {{mlist2}}<br/>CLAMPLIFT: {{mlist3}}<br/>-->
<!--@{{atlane}}-{{atposition}} *** {{lane}}-{{position}}<br/>Clamping: {{clamping}}; Changed: {{changed}}<br/>-->
<!--{{wlist}}-{{wlistpx}}<br/>{{wlist2}}--{{wlistpx2}}<br/>{{wlist3}}--{{wlistpx3}}-->
<div style="float:right;"><table style="height:1px; width:390px;">
	<tr>
		<td style="text-align:right;">Weight (kgs.)</td><td class="nomarpad" style="width:200px; background-image:url('images/clamplift/legend.png');"></td>
	</tr>
	<tr>
		<td></td><td class="nomarpad" style="{% if not loss %}visibility:hidden;{% endif %} width:200px; text-align:left; position:absolute;"><img src="images/clamplift/atarrow.png" style="position:absolute; top:0px; left:{{losspx}}px; z-index:2;" title="{{loss}}"/></td>
	</tr>
	<tr style="{% if not pcode %}visibility:hidden;{% endif %}">
		<td style="text-align:left; background-image:url('images/clamplift/greengradient.png');">Product: {{pcode}}, {{width}}</td>
		<td class="nomarpad" style="text-align:left; position:absolute; height:19px;">
			{% for w in wlistpx %}<img src="images/clamplift/
				{% if w < 15 %}lkf4daimond17.png{% endif %}
				{% if w >= 15 and w < 75 %}lkf3daimond17.png{% endif %}
				{% if w >= 75 and w < 135 %}lkf2daimond17.png{% endif %}
				{% if w >= 135 or w == initailpx %}lkf1daimond17.png{% endif %}
			" style="position:absolute; left:{{w}}px;" onclick="alert('ss');"/>{% endfor %}
		</td>
	</tr>
	<tr style="{% if not spcode %}visibility:hidden;{% endif %}">
		<td style="text-align:left; background-image:url('images/clamplift/bluegradient.png');">Search: {{spcode}}, {{swidth}}</td>
		<td class="nomarpad" style="text-align:left; position:absolute; height:19px;">
			{% for w in wlistpx2 %}<img src="images/clamplift/
				{% if w < 15 %}s4daimond17.png{% endif %}
				{% if w >= 15 and w < 75 %}s3daimond17.png{% endif %}
				{% if w >= 75 and w < 135 %}s2daimond17.png{% endif %}
				{% if w >= 135 or w == initailpx2 %}s1daimond17.png{% endif %}
			" style="position:absolute; left:{{w}}px;" />{% endfor %}
		</td>
	</tr>
	<tr style="{% if not cpcode or cpcode == 'undefined' %}visibility:hidden;{% endif %}">
		<td style="text-align:left; background-image:url('images/clamplift/redgradient.png');">Clamplift: {{cpcode}}, {{cwidth}}</td>
		<td class="nomarpad" style="text-align:left; position:absolute; height:19px;">
			{% for w in wlistpx3 %}<img src="images/clamplift/
				{% if w < 15 %}ocl4daimond17.png{% endif %}
				{% if w >= 15 and w < 75 %}ocl3daimond17.png{% endif %}
				{% if w >= 75 and w < 135 %}ocl2daimond17.png{% endif %}
				{% if w >= 135 or w == initailpx3 %}ocl1daimond17.png{% endif %}
			" style="position:absolute; left:{{w}}px;" />{% endfor %}
		</td>
	</tr>
</table></div>

<table style="height:400px; position:absolute; bottom:0px; right:0px;">
	<tr><td class="map"></td>{% for pos in posall %}<td class="map">{{ pos }}</td>{% endfor %}</tr>

	<tr><td class="map">H</td>
		{% for pos in posh %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '4' and atposition == pos|getpos %}id="locup" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Hlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">H</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos4 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px">
						<table cellspacing="0" cellpadding="0">
							{% if pos < 0 %}<tr><td colspan="12"><img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" /></td></tr>{% endif %}
							<tr>{% for ls in THlist %}
								{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
									{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
									{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
									{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
									{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
									{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
									{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
									{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
									{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
									{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
									{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
									{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
									{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
								{% endif %}
							{% endfor %}</tr>
						</table>
					</td>
				{% else %}
					{% if atlane == '4' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">G</td>
		{% for pos in posg %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '4' and atposition == pos|getpos %}id="locdown" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Glist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '4' and atposition == pos %}
						<td id="locdown" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">G</td></tr>

	<tr><td class="map">F</td>
		{% for pos in posf %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '3' and atposition == pos|getpos %}id="locup" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Flist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">F</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos3 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px">
						<table cellspacing="0" cellpadding="0">
							{% if pos < 0 %}<tr><td colspan="12"><img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" /></td></tr>{% endif %}
							<tr>{% for ls in RDlist %}
								{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
									{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
									{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
									{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
									{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
									{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
									{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
									{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
									{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
									{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
									{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
									{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
									{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
								{% endif %}
							{% endfor %}</tr>
						</table>
					</td>
				{% else %}
					{% if atlane == '3' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">|</td></tr>
	<tr><td class="map">E</td>
		{% for pos in pose %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '3' and atposition == pos|getpos %}id="locdown" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Elist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '3' and atposition == pos %}
						<td id="locdown" style="cursor:pointer;" {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %}>{{pos}}</td>
					{% else %}
						<td {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %}></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">E</td></tr>

	<tr><td class="map">D</td>
		{% for pos in posd %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '2' and atposition == pos|getpos %}id="locup" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Dlist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" {% if pos in buff %}class="buff" border="1"{% else %}class="gray"{% endif %}></td>
					{% else %}
						<td {% if pos in buff %}class="buff"{% else %}class="gray"{% endif %}></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">D</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos2 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px">
						<table cellspacing="0" cellpadding="0">
							{% if pos < 0 %}<tr><td colspan="12"><img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" /></td></tr>{% endif %}
							<tr>{% for ls in NDlist %}
								{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
									{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
									{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
									{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
									{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
									{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
									{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
									{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
									{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
									{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
									{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
									{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
									{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
								{% endif %}
							{% endfor %}</tr>
						</table>
					</td>
				{% else %}
					{% if atlane == '2' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">C</td>
		{% for pos in posc %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '2' and atposition == pos|getpos %}id="locdown" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Clist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '2' and atposition == pos %}
						<td id="locdown" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">C</td></tr>

	<tr><td class="map">B</td>
		{% for pos in posb %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}id="locup" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Blist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locup" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">B</td></tr>

	<tr><td class="map">|</td>
		{% for pos in pos1 %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px">
						<table cellspacing="0" cellpadding="0">
							{% if pos < 0 %}<tr><td colspan="12"><img style="width:20px; z-index:-1;" src="images/clamplift/clamplift.png" /></td></tr>{% endif %}
							<tr>{% for ls in STlist %}
								{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
									{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
									{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
									{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
									{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
									{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
									{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
									{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
									{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
									{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
									{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
									{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
									{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
								{% endif %}
							{% endfor %}</tr>
						</table>
					</td>
				{% else %}
					{% if atlane == '1' and pos == '*' %}
						<td class="map"><img style="width:20px" src="images/clamplift/clamplift.png" /></td>
					{% else %}
						<td class="map"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">|</td></tr>

	<tr><td class="map">A</td>
		{% for pos in posa %}
			{% if pos %}
				{% if pos|getpos in mstr or pos|getpos in mstr2 or pos|getpos in mstr3 %}
					<td style="border:0px"><table cellspacing="0" cellpadding="0" {% if atlane == '1' and atposition == pos|getpos %}id="locdown" style="cursor:pointer;"{% endif %}><tr>
						{% for ls in Alist %}
							{% if ls|first|stringformat:"s" == pos|getpos|stringformat:"s" %}
								{% if ls|second != 0 %}<td class="lkf4" style="width:{{ls|second}}%">{{ ls|second }}</td>{% else %}{% endif %}
								{% if ls|third != 0 %}<td class="lkf3" style="width:{{ls|third}}%">{{ ls|third }}</td>{% else %}{% endif %}
								{% if ls|fourth != 0 %}<td class="lkf2" style="width:{{ls|fourth}}%">{{ ls|fourth }}</td>{% else %}{% endif %}
								{% if ls|fifth != 0 %}<td class="lkf1" style="width:{{ls|fifth}}%">{{ ls|fifth }}</td>{% else %}{% endif %}
								{% if ls|sixth != 0 %}<td class="s4" style="width:{{ls|sixth}}%">{{ ls|sixth }}</td>{% else %}{% endif %}
								{% if ls|seventh != 0 %}<td class="s3" style="width:{{ls|seventh}}%">{{ ls|seventh }}</td>{% else %}{% endif %}
								{% if ls|eighth != 0 %}<td class="s2" style="width:{{ls|eighth}}%">{{ ls|eighth }}</td>{% else %}{% endif %}
								{% if ls|ninth != 0 %}<td class="s1" style="width:{{ls|ninth}}%">{{ ls|ninth }}</td>{% else %}{% endif %}
								{% if ls|tenth != 0 %}<td class="ocl4" style="width:{{ls|tenth}}%">{{ ls|tenth }}</td>{% else %}{% endif %}
								{% if ls|eleventh != 0 %}<td class="ocl3" style="width:{{ls|eleventh}}%">{{ ls|eleventh }}</td>{% else %}{% endif %}
								{% if ls|twelfth != 0 %}<td class="ocl2" style="width:{{ls|twelfth}}%">{{ ls|twelfth }}</td>{% else %}{% endif %}
								{% if ls|thirteenth != 0 %}<td class="ocl1" style="width:{{ls|thirteenth}}%">{{ ls|thirteenth }}</td>{% else %}{% endif %}
							{% endif %}
						{% endfor %}
					</tr></table></td>
				{% else %}
					{% if atlane == '1' and atposition == pos %}
						<td id="locdown" style="cursor:pointer;" class="gray"></td>
					{% else %}
						<td class="gray"></td>
					{% endif %}
				{% endif %}
			{% else %}
				<td class="map"></td>
			{% endif %}
		{% endfor %}
	<td class="map">A</td></tr>

	<tr><td class="map"></td>{% for pos in posall %}<td class="map" width='1%'>{{ pos }}</td>{% endfor %}</tr>
</table>

</div>
</body>
</html>
