<html>
<head>

<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

td
{
border: 0px solid black;
text-align:center;
}

p{font-size:100%;}

.label
{
text-align:right;
color:dimgray;
}

.var
{
color:black;
text-align:center;
font-weight:bold;
}

.unit
{
text-align:left;
color:dimgray;
}

#big{font-size:150%;}
</style>

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript" src="javascript/clamplift.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(window).load(function clampAll(){
		$("#clampall").load("/minclamp/");
		setTimeout(clampAll, 2000);
	});
});
</script>
<script type="text/javascript">
function submit()
{
	document.getElementById("frm1").submit();
}

function undoSubmit()
{
	document.getElementById("frm2").submit();
}

function changeLocLeft()
{
	document.getElementById("frm4").submit();
}

function changeLocRight()
{
	document.getElementById("frm5").submit();
}

function otherLoc()
{
	var agent = navigator.userAgent;
	var patt1 = /Chrome/;
	var patt2 = /Firefox/;
	var chrome = agent.match(patt1);
	var firefox = agent.match(patt2);

	var height = top.document.documentElement.clientHeight + top.document.documentElement.scrollTop;
	var width = top.document.documentElement.clientWidth + top.document.documentElement.scrollLeft;

	var layer = document.createElement('div');
	layer.id = 'layer';
	layer.style.zIndex = '2';
	layer.style.position = 'absolute';
	layer.style.top = '0px';
	layer.style.left = '0px';
//	layer.style.height = height-5 + 'px';
//	layer.style.width = width-5 + 'px';
	if (chrome == 'Chrome'){
		layer.style.height = 600 +'px';
		layer.style.width = 800 +'px';
	} else if (firefox == 'Firefox'){
		layer.style.height = 600-5 +'px';
		layer.style.width = 800 +'px';
	}
	layer.style.backgroundColor = 'black';
	layer.style.opacity = '.6';
	layer.style.filter += ("progid:DXImageTransform.Microsoft.Alpha(opacity=60)");
	top.document.body.appendChild(layer);

	var div = document.createElement('div');
	div.id = 'box';
	div.style.zIndex = '3';
	div.style.position = (navigator.userAgent.indexOf('MSIE 6') > -1) ? 'absolute' : 'fixed';
//	div.style.top = height/2-430/2 + 'px'; 
//	div.style.left = width/2-400/2 + 'px'; 
	div.style.top = '85px'; 
	div.style.left = '200px'; 
	div.style.height = '430px';
	div.style.width = '400px';
	div.style.backgroundColor = 'lightgray';
	div.style.opacity = '1';
	div.style.border = '2px solid silver';
	div.style.padding = '20px';
	top.document.body.appendChild(div);

	var mes = document.createElement('b');
	mes.innerHTML = "<center>Please enter lane and position.</center>".fontsize(4);
	div.appendChild(mes);

	var ldp = document.createElement('center');
	div.appendChild(ldp);

	var l = document.createElement('b');
	l.innerHTML = 'Lane >'.fontsize(4);
	ldp.appendChild(l);

	var ilane = document.createElement('input');
	ilane.id = 'ilane';
	ilane.type = 'text';
	ilane.size = '1';
	ilane.maxLength = '1';
	ilane.style.fontSize = '200%';
	ilane.style.color = 'black';
	ilane.style.textAlign = 'center';
	ilane.value = '{{lane}}';
	ldp.appendChild(ilane);

	var d = document.createElement('b');
	d.innerHTML = '-'.fontsize(4);
	ldp.appendChild(d);

	var iposition = document.createElement('input');
	iposition.id = 'iposition';
	iposition.type = 'text';
	iposition.size = '2';
	iposition.maxLength = '2';
	iposition.style.fontSize = '200%';
	iposition.style.color = 'black';
	iposition.style.textAlign = 'center';
	iposition.value = '{{position}}';
	ldp.appendChild(iposition);

	var p = document.createElement('b');
	p.innerHTML = '< Position'.fontsize(4);
	ldp.appendChild(p);

	var h = document.createElement('a');
	h.id = 'lanebtn';
	h.style.top = '100px';
	h.style.left = '50px';
	h.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"H".fontsize(4).bold()+"</td></tr></table>";
	h.onclick = function()
	{
		top.document.getElementById('ilane').value = 'H';
	}
	div.appendChild(h);

	var g = document.createElement('a');
	g.id = 'lanebtn';
	g.style.top = '140px';
	g.style.left = '50px';
	g.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"G".fontsize(4).bold()+"</td></tr></table>";
	g.onclick = function()
	{
		top.document.getElementById('ilane').value = 'G';
	}
	div.appendChild(g);

	var f = document.createElement('a');
	f.id = 'lanebtn';
	f.style.top = '170px';
	f.style.left = '50px';
	f.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"F".fontsize(4).bold()+"</td></tr></table>";
	f.onclick = function()
	{
		top.document.getElementById('ilane').value = 'F';
	}
	div.appendChild(f);

	var e = document.createElement('a');
	e.id = 'lanebtn';
	e.style.top = '210px';
	e.style.left = '50px';
	e.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"E".fontsize(4).bold()+"</td></tr></table>";
	e.onclick = function()
	{
		top.document.getElementById('ilane').value = 'E';
	}
	div.appendChild(e);

	var d = document.createElement('a');
	d.id = 'lanebtn';
	d.style.top = '240px';
	d.style.left = '50px';
	d.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"D".fontsize(4).bold()+"</td></tr></table>";
	d.onclick = function()
	{
		top.document.getElementById('ilane').value = 'D';
	}
	div.appendChild(d);

	var c = document.createElement('a');
	c.id = 'lanebtn';
	c.style.top = '280px';
	c.style.left = '50px';
	c.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"C".fontsize(4).bold()+"</td></tr></table>";
	c.onclick = function()
	{
		top.document.getElementById('ilane').value = 'C';
	}
	div.appendChild(c);

	var b = document.createElement('a');
	b.id = 'lanebtn';
	b.style.top = '310px';
	b.style.left = '50px';
	b.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"B".fontsize(4).bold()+"</td></tr></table>";
	b.onclick = function()
	{
		top.document.getElementById('ilane').value = 'B';
	}
	div.appendChild(b);

	var a = document.createElement('a');
	a.id = 'lanebtn';
	a.style.top = '350px';
	a.style.left = '50px';
	a.innerHTML = "<table style='width:100%;'><tr><td style='cursor:pointer;'>"+"A".fontsize(4).bold()+"</td></tr></table>";
	a.onclick = function()
	{
		top.document.getElementById('ilane').value = 'A';
	}
	div.appendChild(a);

	var trig = 0;

	var one = document.createElement('a');
	one.id = 'numbtn';
	one.style.top = '100px';
	one.style.left = '200px';
	one.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"1".fontsize(6).bold()+"</td></tr></table>";
	one.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '1';
	}
	div.appendChild(one);

	var two = document.createElement('a');
	two.id = 'numbtn';
	two.style.top = '100px';
	two.style.left = '280px';
	two.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"2".fontsize(6).bold()+"</td></tr></table>";
	two.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '2';
	}
	div.appendChild(two);

	var three = document.createElement('a');
	three.id = 'numbtn';
	three.style.top = '100px';
	three.style.left = '360px';
	three.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"3".fontsize(6).bold()+"</td></tr></table>";
	three.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '3';
	}
	div.appendChild(three);

	var four = document.createElement('a');
	four.id = 'numbtn';
	four.style.top = '170px';
	four.style.left = '200px';
	four.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"4".fontsize(6).bold()+"</td></tr></table>";
	four.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '4';
	}
	div.appendChild(four);

	var five = document.createElement('a');
	five.id = 'numbtn';
	five.style.top = '170px';
	five.style.left = '280px';
	five.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"5".fontsize(6).bold()+"</td></tr></table>";
	five.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '5';
	}
	div.appendChild(five);

	var six = document.createElement('a');
	six.id = 'numbtn';
	six.style.top = '170px';
	six.style.left = '360px';
	six.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"6".fontsize(6).bold()+"</td></tr></table>";
	six.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '6';
	}
	div.appendChild(six);

	var seven = document.createElement('a');
	seven.id = 'numbtn';
	seven.style.top = '240px';
	seven.style.left = '200px';
	seven.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"7".fontsize(6).bold()+"</td></tr></table>";
	seven.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '7';
	}
	div.appendChild(seven);

	var eight = document.createElement('a');
	eight.id = 'numbtn';
	eight.style.top = '240px';
	eight.style.left = '280px';
	eight.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"8".fontsize(6).bold()+"</td></tr></table>";
	eight.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '8';
	}
	div.appendChild(eight);

	var nine = document.createElement('a');
	nine.id = 'numbtn';
	nine.style.top = '240px';
	nine.style.left = '360px';
	nine.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"9".fontsize(6).bold()+"</td></tr></table>";
	nine.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '9';
	}
	div.appendChild(nine);

	var clr = document.createElement('a');
	clr.id = 'numbtn';
	clr.style.top = '310px';
	clr.style.left = '200px';
	clr.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"clr".fontsize(5).bold()+"</td></tr></table>";
	clr.onclick = function()
	{
		top.document.getElementById('iposition').value = '';
	}
	div.appendChild(clr);

	var zero = document.createElement('a');
	zero.id = 'numbtn';
	zero.style.top = '310px';
	zero.style.left = '280px';
	zero.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"0".fontsize(6).bold()+"</td></tr></table>";
	zero.onclick = function()
	{
		if (trig == 0)
		{
			top.document.getElementById('iposition').value = '';
			trig = 1;
		}
		if (top.document.getElementById('iposition').value != '' && top.document.getElementById('iposition').value.length < 2 && trig == 1)
		top.document.getElementById('iposition').value += '0';
	}
	div.appendChild(zero);

	var bs = document.createElement('a');
	bs.id = 'numbtn';
	bs.style.top = '310px';
	bs.style.left = '360px';
	bs.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"bs".fontsize(5).bold()+"</td></tr></table>";
	bs.onclick = function()
	{
		var len = top.document.getElementById('iposition').value.length;
		top.document.getElementById('iposition').value = top.document.getElementById('iposition').value.substr(0,len-1);
	}
	div.appendChild(bs);

	var ok = document.createElement('a');
	ok.id = 'confirm';
	ok.style.left = '70px';
	ok.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"OK".fontsize(5).bold()+"</td></tr></table>";
	ok.onclick = function()
	{
		var lanebox = top.document.getElementById('ilane').value;
		var posbox = top.document.getElementById('iposition').value;
		if (parseInt(posbox) <= 13) {
//			alert(lanebox);
//			alert(posbox);
			document.getElementById("ilane").value = lanebox;
			document.getElementById("ipos").value = posbox;
//			alert(document.getElementById("ilane").value);
//			alert(document.getElementById("ipos").value);
			document.getElementById("frm3").submit();
			top.document.body.removeChild(top.document.getElementById('layer'));
			top.document.body.removeChild(top.document.getElementById('box'));
		} else {
			alert("The submitted position is not in range (1-13).");
			top.document.getElementById('iposition').value = '{{position}}';
		}
	}
	div.appendChild(ok);

	var cancel = document.createElement('a');
	cancel.id = 'confirm';
	cancel.style.right = '80px';
	cancel.innerHTML = "<table style='height:100%; width:100%;'><tr><td style='cursor:pointer;'>"+"Cancel".fontsize(4).bold()+"</td></tr></table>";
	cancel.onclick = function()
	{
		top.document.body.removeChild(top.document.getElementById('layer'));
		top.document.body.removeChild(top.document.getElementById('box'));
	}
	div.appendChild(cancel);
}
</script>
</head>
<body>
	<div id="clampall">
	<input id="cpcode" type="hidden" value="{{ paper_code }}" />
	<input id="cwidth" type="hidden" value="{{ size }}" />
	<input id="lane" type="hidden" value="{{ lane }}" />
	<input id="position" type="hidden" value="{{ position }}" />
	<input id="atlane" type="hidden" value="{{ atlane }}" />
	<input id="atposition" type="hidden" value="{{ atposition }}" />
	<input id="realtag" type="hidden" value="{{ realtag }}" />
	<input id="actual" type="hidden" value="{{ actual_wt }}" />
	{% if realtag %}
		<div id="minic">
			<table style="width:100%;">
				<tr>
					<td><p class="label">ID: </p></td><td><p class="var">{{ realtag }}</p></td>
					<td><p class="label">P.Code: </p></td><td><p class="var" id="big">{{ paper_code }}</p></td>
				</tr>
			</table>
			<table style="width:100%;">
				<tr>
					<td><p class="label">Size: </p></td><td><p class="var">{{ size }}</p></td><td ><p class="unit">{{ unit }}</p></td>
					<td><p class="label">Location:</p></td><td><p class="var">{{lane}}-{{position}}</p></td>
					<td style="text-align:center; width:60px; height:50px;" >
						{% if atlocation == "Stock" %}<a href="javascript:otherLoc()"><img border="0" height="50px" src="images/clamplift/changeloc.png"></a>{% endif %}
					</td>
				</tr>
			</table>
			<table style="width:100%;">
				<tr>
					<td style="text-align:center; width:44px; height:50px;">
						{% if atlocation == "Scale" and undo_btn != "" %}<a href="javascript:undoSubmit()"><img border="0" height="50px" src="images/clamplift/undo.png"></a>{% endif %}
					</td>
					<td ><p class="label">Weight: </p></td><td ><p class="var">{{ actual_wt }}</p></td>

					{% if atlocation == "Scale" and actual_wt > temp_weight %}
					<td style="text-align:center;">>>></td>
					<td ><p class="var">{{ temp_weight }}</p></td>
					{% endif %}
					<td ><p class="unit">kgs.</p></td>
					<td style="text-align:center; width:44px; height:50px;">
						{% if atlocation == "Scale" and actual_wt > temp_weight %}<a href="javascript:submit()"><img border="0" height="50px" src="images/clamplift/update.png"></a>{% endif %}
					</td>
					<td style="text-align:center; width:60px; height:50px;">
						{% if atlocation == "Scale" %}<a href="javascript:weightInput()"><img border="0" height="50px" src="images/clamplift/manual.png"></a>{% endif %}
					</td>
				</tr>
			</table>
		</div>
	{% endif %}

	<form id="frm1" action="/minclamp/update/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ actual_wt }}" name="actual_wt" />
		<input id="temp" type="hidden" value="{{ temp_weight }}" name="temp_weight" />
	</form>

	<form id="frm2" action="/minclamp/undo/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
	</form>

	<form id="frm3" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input id="ilane" type="hidden" value="{{ lane }}" name="lane" />
		<input id="ipos" type="hidden" value="{{ position }}" name="pos" />
	</form>

	<form id="frm4" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ leftlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>

	<form id="frm5" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ rightlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>
	</div>
</body>
</html>
