<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<style type="text/css">
body
{
font-family:"Times New Roman", Times, serif;
}

td
{
text-align:center;
vertical-align:middle;
}
</style>
<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".cell").click(function(){
		var i = 0;
		for (i=0;i<=100;i++){
			if (i<{{chosen}}){
				$("[name="+i+"]").children().css({"background-color":"#F6F6F6","color":"black"});
			}
			else if (i=={{chosen}}){
				$("[name="+i+"]").children().css({"background-color":"white","color":"black"});
			}
			else {
				$("[name="+i+"]").children().css({"background-color":"#F6F6F6","color":"black"});
			}
		}
		var hicode = $(this).attr("title");
		var hiwidth = $(this).attr("id");
		var loss = $(this).attr("lang");
//		$("#legend", top.document).load("/legend/?pcode="+hicode+"&width="+hiwidth+"&loss="+loss);
//		top.legend.location = "/legend/?pcode="+hicode+"&width="+hiwidth+"&loss="+loss;
//		var lsrc = "/legend/?pcode="+hicode+"&width="+hiwidth+"&loss="+loss;
//		$("#legend", top.document).attr("src",lsrc);
//		$("#legend", top.document).show();

		$("[title="+hicode+"][id="+hiwidth+"]").css({"background-color":"#4DA64D","color":"black"});
		$("[title="+hicode+"][id="+hiwidth+"][lang="+loss+"]").css({"background-color":"#005A00","color":"white"});
		$(".infront").css("background-color","#CCE6CC");

		var spcode = $('#map', top.document).contents().find('#spcode').val();
		var swidth = $('#map', top.document).contents().find('#swidth').val();
		var cpcode = $('#map', top.document).contents().find('#cpcode').val();
		var cwidth = $('#map', top.document).contents().find('#cwidth').val();
		var lane = $('#map', top.document).contents().find('#lane').val();
		var position = $('#map', top.document).contents().find('#position').val();
		var atlane = $('#map', top.document).contents().find('#atlane').val();
		var atposition = $('#map', top.document).contents().find('#atposition').val();
		var clamping = $('#map', top.document).contents().find('#clamping').val();
		var changed = $('#map', top.document).contents().find('#changed').val();
//		top.map.location = "/inventory/?pcode="+hicode+"&width="+hiwidth+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed;
		var msrc = "/inventory/?pcode="+hicode+"&width="+hiwidth+"&loss="+loss+"&spcode="+spcode+"&swidth="+swidth+"&cpcode="+cpcode+"&cwidth="+cwidth+"&lane="+lane+"&position="+position+"&atlane="+atlane+"&atposition="+atposition+"&clamping="+clamping+"&changed="+changed;
		$("#map", top.document).attr("src",msrc);
	});

});
</script>
</head>

<body onload="window.scrollTo(0,{{scroll}})">
	<table style="font-size:90%;">
		{% for start_time, sheet_code, paper_width_inch, df, bl, bm, cl, cm, loss_df, loss_bl, loss_bm, loss_cl, loss_cm, n in nlist %}
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}white{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			<td class="infront" rowspan="2" style="width:10px; border:0px; background-color:#CCE6CC;">{% if n == chosen %}>{% endif %}</td>
			<td rowspan='2' style="width:52px;">{{ start_time|time:"H:i" }}</td>
			<td rowspan='2' style="width:70px;">{{ sheet_code }}</td>
			<td style="width:75px; height:40px;">{{ paper_width_inch }}</td>
			{% if bl %} <!-- BL -->
			<td class="cell" style="width:75px; height:40px;" title="{{bl}}" id="{{paper_width_inch}}" lang="{{loss_bl}}">{{ bl }}<br />({{ loss_bl }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if bm %} <!-- BM -->
			<td class="cell" style="width:75px; height:40px;" title="{{bm}}" id="{{paper_width_inch}}" lang="{{loss_bm}}">{{ bm }}<br />({{ loss_bm }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
		</tr>
		<tr name="{{ n }}" style="background-color:{% if n < chosen %}#F6F6F6{% endif %}{% if n == chosen %}white{% endif %}{% if n > chosen %}#F6F6F6{% endif %};">
			{% if df %} <!-- DF -->
			<td class="cell" style="width:75px; height:40px;" title="{{df}}" id="{{paper_width_inch}}" lang="{{loss_df}}">{{ df }}<br />({{ loss_df }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if cl %} <!-- CL -->
			<td class="cell" style="width:75px; height:40px;" title="{{cl}}" id="{{paper_width_inch}}" lang="{{loss_cl}}">{{ cl }}<br />({{ loss_cl }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
			{% if cm %} <!-- CM -->
			<td class="cell" style="width:75px; height:40px;" title="{{cm}}" id="{{paper_width_inch}}" lang="{{loss_cm}}">{{ cm }}<br />({{ loss_cm }})</td>
			{% else  %}
			<td><br /><br /></td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>

</body>
</html>
