<html>
<head>
<link rel="stylesheet" type="text/css" href="css/smoothness/jquery-ui-1.8.10.custom.css" />
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="javascript/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function clamplift(){
		if ($("#pcode").val() != ""){
			var pcode = $("#pcode").val();
			var width = $("#width").val();
			var loss = $("#loss").val();
			var clamping = $("#clamping").val();
			var changed = $("#changed").val();
			var lane = $("[id='lane2']").val();
			var position = $("[id='position2']").val();
			var atlane = $("[id='atlane2']").val();
			var atposition = $("[id='atposition2']").val();
			var spcode = $("#spcode").val();
			var swidth = $("#swidth").val();
//			alert(clamping);
//			alert(changed);
//			alert(lane);
//			alert(position);
//			alert(atlane);
//			alert(atposition);

			if (lane == atlane && position == atposition && clamping == "no" && changed == "no" && lane != undefined){
				//alert("equal");
				$("#invHint").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&clamping=yes&changed=no"+"&spcode="+spcode+"&swidth="+swidth);
			}
			else {
				//alert("notequal");
				$("#invHint").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&clamping="+clamping+"&changed="+changed+"&spcode="+spcode+"&swidth="+swidth);
			}

			setTimeout(clamplift, 2000);
		}
	});

	$("#search").click(function(){
		var pcode = $("#pcode").val();
		var width = $("#width").val();
		var loss = $("#loss").val();
		var spcode = $("#spcode").val();
		var swidth = $("#swidth").val();
		var clamping = $("#clamping").val();
		var changed = $("#changed").val();
		if (spcode != "" && swidth != ""){
			$("#invHint").load("/inventory/?pcode="+pcode+"&width="+width+"&loss="+loss+"&clamping="+clamping+"&changed="+changed+"&spcode="+spcode+"&swidth="+swidth);
			//$("#invHint").load("/inventory/?pcode="+scode+"&width="+swidth+"&loss="+loss);
//			$("#pcode").val(scode);
//			$("#width").val(swidth);
			//$("[id='plan']",top.frames["plan"].document).css("background-color","yellow");
//			$("[id='plan']",top.frames["plan"].document).contents().find("td").css("background-color","white");
//			$("[id='plan']",top.frames["plan"].document).contents().find("[id="+scode+"][class="+swidth+"]").parent().css("background-color","yellow");
		}

	});

});
</script>
</head>

<body>

<input id="pcode" value="{{ pcode }}" type="hidden" />
<input id="width" value="{{ width }}" type="hidden" />
<input id="rpcode" value="{{ rpcode }}" type="hidden" />
<input id="rwidth" value="{{ rwidth }}" type="hidden" />
<input id="loss" value="{{ loss }}" type="hidden" />
<input id="clamping" value="{{ clamping }}" type="hidden" />
<input id="changed" value="{{ changed }}" type="hidden" />
<input id="lane" value="{{ lane }}" type="hidden" />
<input id="position" value="{{ position }}" type="hidden" />
<input id="atlane" value="{{ atlane }}" type="hidden" />
<input id="atposition" value="{{ atposition }}" type="hidden" />

<table><tr>
	<td style="text-align:left; border:1px;"></td>
	<td valign="middle" style="width:1px; border:1px;">
		<form>
			<select id="spcode">
			<option value="">Paper Code:</option>
			{% for paper_code in spcodelist %}
<!--			<option value="{{ paper_code }}"{% if pcode == paper_code %}selected="selected"{% endif %}>{{ paper_code }}</option>-->
			<option value="{{ paper_code }}">{{ paper_code }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td style="text-align:left; border:1px; width:1px;">
		<form>
			<select id="swidth">
			<option value="">Size:</option>
			{% for size in swidthlist %}
<!--			<option value="{{ size }}"{% if width == size|stringformat:"s" %}selected="selected"{% endif %}>{{ size }}</option>-->
			<option value="{{ size }}">{{ size }}</option>
			{% endfor %}
			</select>
		</form>
	</td>
	<td border="1" valign="top" style="width:1px; border:1px;">
		<button id="search">Search</a></button>
	</td>
</tr></table>


<div id="invHint"><b>Paper roll inventory will be shown here.</b></div>

</body>
</html>
