{% extends "PC/container.html" %}
{% block view %}
<div id="wrapper">
    <div id="header"><a href="/likitomi/home/?eID={{eID}}">HOME</a> >> MD <br>
    	<!-- start Menu-->
    <ul id="navlist">
		<li id="active"><a href="/likitomi">Logout</a></li>
	</ul>


	<!-- End Menu-->
	</div>
<!-- endheader-->
<!-- content-->
	<div id="browse_crag">
		<div class="login">
			{{title}}
		</div>
	</div>
<br>
<center>

			
			<table align=center class=tbltableMD><span class="header">
			<tr width="100%" align=center  bgColor= "#cccccc">
			<th>P.O.</th><th>S.O.</th><th>P.code</th><th>Amout</th><th>CR</th><th>CV</th><th>PT</th><th>WH</th><th>Due</th><th>Readiness</th>
			</tr>
			{% for product_code,plan_amount,actual_amount_cr,plan_cr_start,actual_amount_cv,plan_cv_start,actual_amount_pt,plan_pt_start,actual_amount_wh,plan_wh_start,plan_due in showGM_items %}
			<tr align="center" class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ entry.id }}">
			<td></td><td></td><td>{{product_code}}</td><td><center>{{plan_amount}}<center></td>{% if plan_cr_start != NULL %}<td>{{actual_amount_cr}}</td>{% else %}<td bgColor="black"></td>{% endif %}{% if plan_cv_start != NULL %}<td>{{actual_amount_cv}}</td>{% else %}<td bgColor="black"></td>{% endif %}{% if plan_pt_start != NULL %}<td>{{actual_amount_pt}}</td>{% else %}<td bgColor="black"></td>{% endif %}{% if plan_wh_start != NULL %}<td>{{actual_amount_wh}}</td>{% else %}<td bgColor="black"></td>{% endif %}<td>{{plan_due}}</td><td>{% if plan_amount <= actual_amount_wh %}<span class='name'><img alt='list' src='images/office/Package-Accept32.png' />{% else %}<img alt='list' src='images/office/Package-Warning32.png' />{% endif %}</span></td>
			</tr>
			{% endfor %}

			</tr>
			</table>
</div>
{% endblock %}
