/* Greyscale
Table Design by Scott Boyle, Two Plus Four
www.twoplusfour.co.uk
+ iWebKit css 5.04 by Christopher Plieger
+
----------------------------------------------- */
body{
	position:  relative;
	margin: 0;
	min-height: 416px;
	background-color: #cbd2d8;
	font-family: helvetica,sans-serif;
	}
	
#crumbs {
	margin:0;
	height:2.3em;
	background-color:#4C7E80;
	
	}

#crumbs li {
	float:left;
	line-height:2.3em;
	color:#FFFFFF;
	padding-left:.75em;
	list-style:none
	}		
#crumbs li a {
	background:url(images/navlinkright.png) no-repeat right center;
	display:block;
	padding:0 15px 0 0;
	}							
#crumbs li a:link,
#crumbs li a:visited {
	color:#777;
	text-decoration:none;
	}	
a:link, a:visited,	
#crumbs li a:hover,
#crumbs li a:focus {
	color:#dd2c0d;
	}
#leftnav a,#rightnav a,#leftbutton a,#rightbutton a,#blueleftbutton a,#bluerightbutton a{
	line-height:24px;
	height:24px
}
#leftnav img,#rightnav img{
	margin-top:4px;
	height:70%
}
#leftnav,#leftbutton,#blueleftbutton{
	top:4px
}
#rightnav,#rightbutton,#bluerightbutton{
	top:4px
}
#leftnav,#leftbutton,#blueleftbutton{
	position:absolute;
	font-size:10px;
	left:9px;
	font-weight:bold
}
#leftnav,#leftbutton,#rightnav,#rightbutton,#blueleftbutton,#bluerightbutton{
	z-index:5000
}
#leftnav a,#rightnav a,#leftbutton a,#rightbutton a,#blueleftbutton a,#bluerightbutton a{
	display:block;
	color:#fff;
	font-size:10px;
	text-shadow:rgba(0,0,0,0.6) 0 -1px 0;
	text-decoration:none

}
#leftnav a{
	z-index:3;
	margin-left:-4px;
	border-width:0 5px 0 13px;
	padding-right:4px;
	float:left
}
#nav,#rightbutton,#bluerightbutton{
	position:absolute;
	font-size:10px;
	right:9px;
	font-weight:bold
}
#rightnav a{
	z-index:3;
	margin-right:-4px;
	border-width:0 13px 0 5px;
	padding-left:4px;
	float:right;
}

#content{
	width:100%;
	position:relative;
	min-height:250px;
	margin-top:10px;
	height:auto;
	z-index:0;
	overflow:hidden
}
#footer{
	text-align:center;
	position:relative;
	margin:20px 10px 0;
	height:auto;
	width:auto;
	bottom:10px
}
fieldset{
	margin:10px;
	padding:10px;
}
.bigfield input{
	width:295px;
	font-size: 30px
}
.textbox img{
	max-width:100%
}
.textbox p{
	margin-top:2px
}
.textbox p{
	margin-top:2px;
	color:#000;
	margin-bottom:2px;
	text-align:justify
}
.textbox img{
	max-width:100%
}
.textbox ul{
	margin:3px 0 3px 0;
	list-style:circle!important
}
.textbox li{
	margin:0
}
.button input{
	width:100%;
	height:30px;
	border:1;
	font-weight:bold;
	font-size:12px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.graytitle{
	position:relative;
	font-weight:bold;
	font-size:10px;
	right:20px;
	left:9px;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0;
	padding:1px 0 3px 8px
}

.pageitem{
	background-color:#fff;
	border:#878787 solid 1px;
	font-size:10pt;
	overflow:hidden;
	padding:0;
	position:relative;
	display:block;
	height:auto;
	width:auto;
	margin:3px 9px 17px;
	list-style:none
}
.textbox{
	padding:5px 9px;
	position:relative;
	overflow:hidden;
	}

.graytitle{
	position:relative;
	font-weight:bold;
	font-size:15px;
	right:20px;
	left:9px;
	color:#4C4C4C;
	text-shadow:#FFF 0 1px 0;
	padding:1px 0 3px 8px
}
.header{
	display:block;
	font-weight:bold;
	color:rgb(73,102,145);
	font-size:10pt;
	margin-bottom:6px;
	line-height:14pt
}


table {border-collapse: collapse;
/*border: 2px solid #000;*/
font: normal /*80%/140%*/ arial, helvetica, sans-serif;
color: #555;
background: #fff;}

td, th {border: 1px dotted #bbb;
padding: .5em;}

caption {padding: 0 0 .5em 0;
text-align: left;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
color: #333;
background: transparent;}

/* =links
----------------------------------------------- */

table a {padding: 1px;
text-decoration: none;
font-weight: bold;
background: transparent;}

table a:link {border-bottom: 1px dashed #ddd;
color: #000;}

table a:visited {border-bottom: 1px dashed #ccc;
color: #808080;}

/*table a:hover {border-bottom: 1px dashed #bbb;
color: #666;}
*/
/* =head =foot
----------------------------------------------- */

thead th, tfoot th {
/*border: 2px solid #000;*/
text-align: left;
font-size: 13px;
font-weight: bold;
color: #333;
background: transparent;}

/*tfoot td {border: 2px solid #000;}*/

/* =body
----------------------------------------------- */



tbody th {white-space: nowrap;}

.odd {background: #fcfcfc;}

/*tbody tr:hover {background: #fafafa;}*/
