.ac_off, .ac_on
{	
	width: 100%;
}

.ac_off .ac_content
{
	height: 0px;
	overflow: hidden;
	
	-webkit-transition-property: height;
    -webkit-transition-duration: 800ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ac_on .ac_content
{
	height: auto;
	overflow: hidden;

	-webkit-transition-property: height;
    -webkit-transition-duration: 800ms;
    -webkit-transition-timing-function: ease-in-out;
}

.ac_title
{
	border-bottom: 1px solid #CCC;
	color: #fff;
	height: 44px;
	line-height: 44px;
	font-size: 17px;
	padding: 0 10px;
}

.ac_off .ac_title
{
	background: #494a4e url('../img/show.png') no-repeat right center;	
}

.ac_on .ac_title
{
	background: #222 url('../img/hide.png') no-repeat right center;	
}