{% extends "generic.html" %}
{% block content %}
<ul id="crumbs">{% if is_enable_leftbutton %}<li><b>
	<div id="leftnav">
		<a href="#" class="noeffect"><img alt="home" src="images/home.png" /></a> 
</div></b></li>{% endif %}
<div id="rightbutton">
		<li class="button"><a href="/likitomi/" class="noeffect"><input type="submit" value="Log out" /></a></li>
	</div>
</ul>
{% if is_enable_tributton %}
<div id="tributton">
	<div class="links">
		<a id="pressed" href="#">Home</a><a href="changelog.html">Changelog</a><a href="about.html">About</a></div>
</div>
{% endif %}
<div id="content">
	<span class="graytitle">{{section_title}}</span>
	<ul class="pageitem">
		<li class="textbox"><span class="header">{{content_header}}</span><p>
		{{subcontent_header}}</p>
		</li>
		{{contents_text}}
		{% if is_enable_list %}
			<li class="menu">
			{% if is_enable_link %}<a href="{{item_link}}">
			<img alt="item_pic_name" src="{{item_pic}}" /><span class="name">{{item_name}}</span>
			{% if is_enable_comment %}<span class="comment">{{comment_name}}</span>{% endif %}
			{% if is_enable_arrow %} <span class="arrow"></span>{% endif %}</a>
			{% else %} <span class="name"> {{item_name}}</span>
			{% if is_enable_comment %}<span class="comment"> {{comment_name}}</span>{% endif %}
			{% endif %}</li>
		{% endif %}


	
		{#start page of wh #}
			<ul class="pageitem">
			<li class="textbox">
			<table align=center><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"> Sch.IN </td><th width="20" rowspan="2"> Product code </th><th width="20" rowspan="2">Previous</th><th width="20" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th></tr></thead>
			</span>
			{% for plan_id,start,product,actual_start,process1,process2,process3 in items %}
		<tr>
			<td rowspan="2">{% if wh == product %} > {% endif %}</td>
			<td><a href="/likitomi/line/wh/start/?eID={{eID}}&pID={{plan_id}}">{{start|time:"H:i"}}</a></td>
			<td rowspan="2"><p class="tbunderline">{{product}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">{% if process3 != NULL%} {{process3}} {% else %}{% if process2 != NULL %} {{process2}}{% else %}{% if process1 != NULL %} {{process1}} {% endif %}{% endif %}{% endif %}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">!!<br><font color="white">-</font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{ actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL %}
				{{ actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>
<!--			<table border=1 align=center><span class="header">-->
<!--			<tr width="100%" align=center><td width="10%" rowspan="2"></td><td width="25%">Sch.IN</td><td width="35%" rowspan="2"> Product code </td><td width="30%" rowspan="2">From</td></tr>-->
<!--			<tr align=center><td>Act.IN</td></tr>-->
<!--			{% for plan_id,start,product,actual_start in items %}-->
<!--			<tr align=center><td rowspan="2" height="20">{% if wh == start and actual_start == none %} > {% endif %}</td><td>{{start|time:"H:i"}}</td><td rowspan="2">{{product}}</td><td rowspan="2">{{from}}</td></tr>-->
<!--			<tr align=center><td height="20">{{actual_start|time:"H:i"}}</td></tr>-->
<!--			{% endfor %}-->
<!--			</table>-->
			</li>
			</ul>
	</ul>
</div>
{% endblock %}
