<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="index,follow" name="robots" />
<meta content="text/html; charset=tis-620" http-equiv="Content-Type" />
<link href="pics/homescreen.gif" rel="apple-touch-icon" />
<meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport" />

<script src="javascript/functions.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>{{ title }}</title>
<link href="pics/startup.png" rel="apple-touch-startup-image" />
<meta content="iPod,iPhone,Webkit,iWebkit,Website,Create,mobile,Tutorial,free" name="keywords" />
<meta content="Try out all the new features of iWebKit 5 with a simple touch of a finger and a smooth screen rotation!" name="description" />
</head>

<body>

<div id="topbar">
	<div id="title">
		{{title}}</div>
		{% if is_enable_leftbutton %}
	<div id="leftnav">
		<a href='/likitomi/home/?eID={{eID}}'><img alt="home" src="images/home.png" /></a>
		<a href="#" class="noeffect">Start {{at}}</a> 
	</div>
	{% endif %}
	{% if is_enable_rightbutton %}
	<div id="rightbutton">
		<a href="/likitomi/" class="noeffect">Log out</a> 
	</div>
	{% endif %}
	
</div> 
{% if is_enable_tributton %}
<div id="tributton">
	<div class="links">
		<a id="pressed" href="#">Home</a><a href="changelog.html">Changelog</a><a href="about.html">About</a></div>
</div>
{% endif %}
<div id="content">
	<span class="graytitle">{{section_title}}</span>
	<ul class="pageitem">
		<li class="textbox"><span class="header">{{content_header}}</span><p>
		{{subcontent_header}}</p>
		</li>
		{{contents_text}}
		{% if is_enable_list %}
			<li class="menu">
			{% if is_enable_link %}<a href="{{item_link}}">
			<img alt="item_pic_name" src="{{item_pic}}" /><span class="name">{{item_name}}</span>
			{% if is_enable_comment %}<span class="comment">{{comment_name}}</span>{% endif %}
			{% if is_enable_arrow %} <span class="arrow"></span>{% endif %}</a>
			{% else %} <span class="name"> {{item_name}}</span>
			{% if is_enable_comment %}<span class="comment"> {{comment_name}}</span>{% endif %}
			{% endif %}</li>
		{% endif %}
		<!-- Start Table-->
			<ul class="pageitem"><li class="textbox"><span class="header">{{ product_code }}</span><p>Display corrugator specification of {{product_code}}</p>
	<table><tr><td>Color</td><td>: {{color}}</td></tr>
	<tr><td>Time</td><td>: {{time}}</td></tr>
	<tr><td>Speed</td><td>: {{speed}} items per min</td></tr>
	<tr><td>Sale Order</td><td>:</td></tr>
	<tr><td>Order No.</td><td>:</td></tr>
	<tr><td>P. Code</td><td>: {{product_code}}</td></tr>
	<tr><td>Customer</td><td>: {{partner}}</td></tr>
	<tr><td>Product Name</td><td>: {{product_name}}</td></tr>
	<tr><td>Expected Amount</td><td>: {{amount}}</td></tr>
	</table>

</li>
</ul>
			<center><span class="graytitle">Amount from previous section:</span><li class="bigfield"><input name="product_name" type="text"  value='{{amount}}' style="text-align: center" disabled="disabled" /> </li> 
		<li class="bigfield"><input name="start_time" type="text"  value="{{current_date_time}}" style="text-align: center" disabled="disabled"/></li>
			<form action="/likitomi/line/update/start/" method="get" name="startForm">
			<fieldset>
			<input name="task" type="hidden" value="{{task}}">
			<input name="eID" type="hidden" value="{{eID}}">
			<input name="pID" type="hidden" value="{{pID}}">
			<input name="at" type="hidden" value="{{at}}">
			<li class="button"><input name="Enter" type="submit" value="Enter" /></li>
			
			</center>
			</fieldset>

			</form>

	</ul>
</div>
<div id="footer">
	<a href="http://iwebkit.net">Powered by iWebKit</a></div>

</body>

</html>
