{% extends "generic.html" %}
{% block content %}
<div id="topbar">
	<div id="title">
		{{title}}</div>
		{% if is_enable_leftbutton %}
	<div id="leftnav">
		<a href='/likitomi/home/?eID={{eID}}'><img alt="home" src="images/home.png" /></a>
		<a href="#" class="noeffect">CV</a> 
	</div>
	{% endif %}
	{% if is_enable_rightbutton %}
	<div id="rightbutton">
		<a href="/likitomi/" class="noeffect">Log out</a> 
	</div>
	{% endif %}
	
</div> 
{% if is_enable_tributton %}
<div id="tributton">
	<div class="links">
		<a id="pressed" href="#">Home</a><a href="changelog.html">Changelog</a><a href="about.html">About</a></div>
</div>
{% endif %}
<div id="content">
	<span class="graytitle">{{section_title}}</span>
	<ul class="pageitem">
		<li class="textbox"><span class="header">{{content_header}}</span><p>
		{{subcontent_header}}</p>
		</li>
		{{contents_text}}
		{% if is_enable_list %}
			<li class="menu">
			{% if is_enable_link %}<a href="{{item_link}}">
			<img alt="item_pic_name" src="{{item_pic}}" /><span class="name">{{item_name}}</span>
			{% if is_enable_comment %}<span class="comment">{{comment_name}}</span>{% endif %}
			{% if is_enable_arrow %} <span class="arrow"></span>{% endif %}</a>
			{% else %} <span class="name"> {{item_name}}</span>
			{% if is_enable_comment %}<span class="comment"> {{comment_name}}</span>{% endif %}
			{% endif %}</li>
		{% endif %}
<!-- start table-->
		{#start page of cv #}
			<ul class="pageitem">
			<li class="textbox">
			<table align=center><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="15%"> Sch.IN </td><td width="15%"> Sch.OUT </td><th width="20" rowspan="2"> Product code </th><th width="10" rowspan="2">Machine</th><th width="20" rowspan="2">From</th><th width="20" rowspan="2">Next</th><th width="10" rowspan="2">Due</th></tr>
			<tr bgcolor="#cccccc"><th>Act.IN</th><th>Act.OUT</th></tr></thead>
			</span>
			{% for start,end,product,actual_start,actual_end,cv_machine,previous,next,next2 in items %}
			<tr>
			<td rowspan="2">{% if cv == product %} > {% endif %}</td>
			<td>{{start|time:"H:i"}}</td>
			<td>{{ end|time:"H:i" }}</td>
			<td rowspan="2"><p class="tbunderline">{{product}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">{{cv_machine}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbsgunderline">{{previous}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbsgunderline">{% if next == NULL %} {{next2}} {% else %}{{next}}{% endif %}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbsgunderline">##<br><font color="white">-</font></p></td>
			</tr>
			<tr>
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{ actual_start|time:"H:i" }}
				{% else %} 
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL %}
				{{ actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>
			</ul>
	</ul>
</div>
{% endblock %}
