<html>
<head>
	<title>Likitomi: @Clamplift</title>
	<link rel="stylesheet" type="text/css" href="css/mystyle.css" />
	<script type="text/javascript" src="js/clamplift.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$(window).load(function minclamp(){
			$("#minclamp").load("/minclamp/");
			setTimeout(minclamp, 2000);
		});
	});
	</script>
	<script type="text/javascript">
	function changeLocDown()
	{
		document.getElementById("lane").value = '{{lane}}';
		document.getElementById("pos").value = '{{downpos}}';
		document.getElementById("frm3").submit();
	}

	function changeLocUp()
	{
		document.getElementById("lane").value = '{{lane}}';
		document.getElementById("pos").value = '{{uppos}}';
		document.getElementById("frm3").submit();
	}

	function changeLocOpp()
	{
		document.getElementById("lane").value = '{{opplane}}';
		document.getElementById("pos").value = '{{position}}';
		document.getElementById("frm3").submit();
	}

	function changeLocOppDown()
	{
		document.getElementById("lane").value = '{{opplane}}';
		document.getElementById("pos").value = '{{downpos}}';
		document.getElementById("frm3").submit();
	}

	function changeLocOppUp()
	{
		document.getElementById("lane").value = '{{opplane}}';
		document.getElementById("pos").value = '{{uppos}}';
		document.getElementById("frm3").submit();
	}

	function changeLocLeft()
	{
		document.getElementById("frm4").submit();
	}

	function changeLocRight()
	{
		document.getElementById("frm5").submit();
	}

	</script>
</head>
<body>
<div id="minclamp">
	<table>
		<tr>
			<td><p class="label" id="min">ID: </p></td>
			<td>{% ifnotequal realtag "" %}<p class="var" id="min">{% ifchanged %}{{ realtag }}{% endifchanged %}</p>{% else %}<p align="center">-</p>{% endifnotequal %}</td>
			<td><p class="label" id="min">P.Code: </p></td>
			<td>{% ifnotequal paper_code "" %}<p class="var" id="minbig">{{ paper_code }}</p>{% else %}<p align="center">-</p>{% endifnotequal %}</td>
			<td><p class="label" id="min">Size: </p></td>
			<td>{% ifnotequal size "" %}<p class="var" id="min">{{ size }}</p>{% else %}<p align="center">-</p>{% endifnotequal %}</td>

			<td><p class="label" id="min">Loc.:</p></td>
			<td>{% ifnotequal lane "" %}<p class="var" id="min">{{lane}}-{{position}}</p>{% else %}<p align="center">-</p>{% endifnotequal %}</td>

			<td align="center" rowspan="1">{% ifnotequal undo_btn "" %}<a href="javascript:undoSubmit()"><img border="0" height="50px" src="image/undo.png"></a>{% else %}{% endifnotequal %}</td>
			<td><p class="label" id="min">Weight: </p></td>
			<td>{% ifnotequal actual_wt "" %}<p class="var" id="min">{{ actual_wt }}</p>{% else %}<p align="center">-</p>{% endifnotequal %}</td>
			<td align="center" id="min">{% if realtag != "" and atlocation == "Scale" %}>>>{% endif %}</td>
			<td>{% ifnotequal digital "" %}<p class="var" id="minbig">{{ digital }}</p>{% else %}{% endifnotequal %}</td>
			<td><p class="unit" id="min">kgs.</p></td>
			<td align="center" rowspan="2">{% ifnotequal submit_btn "" %}<a align="right" href="javascript:submit()"><img id="submit" border="0" height="50px" src="image/update.png"></a>{% else %}{% endifnotequal %}</td>
			<td style="text-align:center"><a href="/clamplift/" target="_parent"><button>More</button></a></td>
		</tr>
	</table>

	<form id="frm1" action="/minclamp/update/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input id="manweight" type="hidden" value="{{ temp_weight }}" name="weight" />
	</form>

	<form id="frm2" action="/minclamp/undo/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
	</form>

	<form id="frm3" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input id="lane" type="hidden" value="{{ lane }}" name="lane" />
		<input id="pos" type="hidden" value="{{ position }}" name="pos" />
	</form>

	<form id="frm4" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ leftlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>

	<form id="frm5" action="/minclamp/changeloc/" method="get">
		<input type="hidden" value="{{ realtag }}" name="realtag" />
		<input type="hidden" value="{{ rightlane }}" name="lane" />
		<input type="hidden" value="{{ atposition }}" name="pos" />
	</form>

</div>
</body>
</html>
