<html>
<head><title></title></head>
<body>
<table >
	<tr><th bgColor="#cccccc" align="right">S.O.</th><td bgColor="#F3F3F3">{{so}}</td></tr>
	<tr><th bgColor="#cccccc" align="right">P.O.</th><td bgColor="#F3F3F3">{{po}}</td></tr>
	<tr><th bgColor="#cccccc" align="right">Product Code</th><td bgColor="#F3F3F3">{{product}}</td></tr>
	<tr><th bgColor="#cccccc" align="right">Product Name</th><td bgColor="#F3F3F3">{{product_name}}</td></tr>
	<tr><th bgColor="#cccccc" align="right">Customer Name</th><td bgColor="#F3F3F3">{{partner}}</td></tr>
	<tr><th bgColor="#cccccc" align="right">Amount </th><td bgColor="#F3F3F3">{{plan_amount}}</td></tr>
</table>
</body>
</html>
