<html>
<head>
<link rel="stylesheet" type="text/css" href="css/plan.css" />

<script type="text/javascript" src="js/jquery.js"></script>
<!--<script type="text/javascript">-->
<!--function scrollWindow()-->
<!--{-->
<!--window.scrollTo(0,55);-->
<!--}-->
<!--</script>-->
<script type="text/javascript">
$(document).ready(function(){

	if ()

});
</script>
</head>

<body onload="window.scrollTo(0,{{scroll}})">
	<table style="font-size:80%">
<!--		<thead style="visibility:hidden;">-->
<!--		<tr>-->
<!--			<th rowspan='2' width="5%">TIME</th>-->
<!--			<th rowspan='2' width="12%">SHEET CODE</th>-->
<!--			<th rowspan='2' width="9%" class="kr">S.O.NO.<br />ORD NO.</th>-->
<!--			<th rowspan='2'>F</th>-->
<!--			<th rowspan='2'>PAPER<br />D-F</th>-->
<!--			<th>B-L</th>-->
<!--			<th>B-M</th>-->
<!--			<th rowspan='2'>PAPER<br />WIDTH</th>-->
<!--			<th rowspan='2'>USED(KGS)<br />D-F</th>-->
<!--			<th>B-L</th>-->
<!--			<th>B-M</th>-->
<!--		</tr>-->
<!--		<tr>-->
<!--			<th>C-L</th>-->
<!--			<th>C-M</th>-->
<!--			<th>C-L</th>-->
<!--			<th>C-M</th>-->
<!--		</tr>-->
<!--		</thead>-->

		<tbody>
		{% for start_time, sheet_code, sono, ordno, flute, df, bl, bm, cl, cm, paper_width_mm, paper_width_inch, loss_df, loss_bl, loss_bm, loss_cl, loss_cm, n in nlist %}
		<tr name="{{ n }}" height="30px"{% if n < chosen %}style="background-color:lightgray;"{% endif %}{% if n == chosen %}style="background-color:tan;"{% endif %}{% if n > chosen %}style="background-color:white;"{% endif %}>
			<td rowspan='2' width="52px">{{ start_time|time:"H:i" }}</td>
			<td rowspan='2' width="70px">{{ sheet_code }}</td>
			<td rowspan='2' class="kr" width="63px">{{ sono }}<br />{{ ordno }}</td>
			<td rowspan='2' width="21px">{{ flute }}</td>
			<td class='df' rowspan='2' width="72px"><br />{{ df }}</td>
			<td width="73px">{{ bl }}</td>
			<td width="73px">{{ bm }}</td>
			<td rowspan='2' class="kr" width="79px">{{ paper_width_mm }}<br />{{ paper_width_inch }}</td>
			<td class='df' rowspan='2' width="118px"><center>+LOSS</center>{{ loss_df }}</td>
			<td width="37px">{{ loss_bl }}</td>
			<td width="42px">{{ loss_bm }}</td>
		</tr>
		<tr name="{{ n }}" height="30px"{% if n < chosen %}style="background-color:lightgray;"{% endif %}{% if n == chosen %}style="background-color:tan;"{% endif %}{% if n > chosen %}style="background-color:white;"{% endif %}>
			<td>{{ cl }}</td>
			<td>{{ cm }}</td>
			<td>{{ loss_cl }}</td>
			<td>{{ loss_cm }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</body>
</html>
