<html>
<head>
<title>Likitomi: Whole Clamplift Plan</title>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){

	$(window).load(function now(){
		$("#now").load("/now/");
		setTimeout(now, 1000);
	});

	$(window).load(function(){
		$("#req").hide();
		$("#det").hide();
		$("#pp").load("/showreq/?opdate={{opdate}}");
		$("#req").show();
		$("#det").show();
		$("#req").css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
		$("#det").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
	});

	$("#sel").change(function(){
		var opd = $("#sel").val();
		if (opd == "") {
		}
		else {
			$("#pp").load("/showreq/?opdate="+opd);
			$("#req").show();
			$("#det").show();
			$("#req").css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
			$("#det").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		}
	});

	$("#req").click(function(){
		var opd = $("#sel").val();
		$("#pp").load("/showreq/?opdate="+opd);
		$("#det").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		$(this).css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
	});

	$("#det").click(function(){
		var opd = $("#sel").val();
		$("#pp").load("/showdet/?opdate="+opd);
		$("#req").css({"background-color":"white", "color":"lightgray", "border":"1px solid lightgray"});
		$(this).css({"background-color":"lightgray", "color":"black", "border":"1px solid black"});
	});

	$("#down").click(function(){
		$("#required,#detail")[0].contentWindow.scrollBy(0,64);
	});

	$("#up").click(function(){
		$("#required,#detail")[0].contentWindow.scrollBy(0,-64);
	});

	$("#back").click(function(){
		var opd = $("#sel").val();
		$(this).attr("href", "/index/?opdate="+opd);
	});

});
</script>

</head>

<body>

<table>
	<tr>
		<td class="lft"><a id="back" href="/index/"><img border="0" height="100px" src="image/back.png"></a></td>	
		<td class="rght"><a href="/wholeplan/"><img border="0" height="100px" src="image/refresh.png"></a></td>
	</tr>
</table>
	
<table><tr><td style="border:0px; font-size:100%;"><div class='lft'>{% now "Y-m-d" %}</div></td><td style="border:0px; font-size:100%;"><div id='now'></div></td></tr><table>

<table>
	<tr>
		<td class="lft">
<!--		AS PRODUCTION OF:-->
			<form>
				<select id="sel" name="opdate">
				<option value="">AS PRODUCTION OF:</option>
				{% for date in datelist %}
				<option value="{{ date }}" {% if opdate == date %}selected="selected"{% endif %}>{{ date }}</option>
				{% endfor %}
				</select>
			</form>
		</td>
		<td style="border:0px;"><img id="up" src="image/earlier.png" width="285px"/></td>
		<td id="req" style="cursor:pointer; width:20%; font-size:100%; font-weight:bold;">Required</td>
		<td id="det" style="cursor:pointer; width:20%; font-size:100%; font-weight:bold;">Detail</td>
	</tr>
</table>

<!--<table><tr>-->
<!--	<td style="border:0px;">-->
		<div id="pp"><b style="font-size:100%">Clamplift plan will be shown here.</b></div>
<!--	</td>-->
<!--	<td style="border:0px">-->
<!--		<div id="body"></div>-->
<!--	</td>-->
<!--</tr><table>-->
<table><tr><td style="border:0px;"><img id="down" src="image/later.png" width="285px"/></td></tr></table>
</body>
</html>
