{% extends "PC/container.html" %}
{% block view %}
<div id="wrapper">
    <div id="header"><a href="/likitomi/home/?eID={{eID}}">HOME</a> >> PT <br>
    	<!-- start Menu-->
    <ul id="navlist">
		<li id="active"><a href="/likitomi">Logout</a></li>
	</ul>


	<!-- End Menu-->
	</div>
<!-- endheader-->
<!-- content-->
	<div id="browse_crag">
		<div class="login">
			{{title}}
		</div>
	</div>
<br>
<center>

			
	<table align=center width="27%"><span class="header">
			<thead><tr bgcolor="#cccccc" width="100%"><th width="10%" rowspan="2"></th><td width="20%"><b> Sch.IN </b></td><td width="20%"><b> Sch.OUT </b></td><th width="20" rowspan="2"> Product code </th><th width="20" rowspan="2">From</th><th width="20" rowspan="2">Next</th></tr>
			<tr bgcolor="#cccccc"><th align="right">Act.IN</th><th align="right">Act.OUT</th></tr></thead>
			</span>
			{% for plan_id,start,end,product,actual_start,actual_end,previous_section,next_process in items %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ entry.id }}">
			<td rowspan="2">{% if cv == product %} > {% endif %}</td>
			<td><a href="/likitomi/line/pt/start/?eID={{eID}}&pID={{plan_id}}">{{start|time:"H:i"}}</a></td>
			<td><a href="/likitomi/line/pt/end/?eID={{eID}}&pID={{plan_id}}">{{ end|time:"H:i" }}</a></td>
			<td rowspan="2"><p class="tbunderline">{{product}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">{{previous_section}}<br><font color="white">-</font></p></td>
			<td rowspan="2"><p class="tbunderline">{{next_process}}<br><font color="white">-</font></p></td>
			</tr>
			<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="{{ entry.id }}">
			<td><p class="tbsgunderline">
				{% if actual_start != NULL %}
				{{ actual_start|time:"H:i" }}
				{% else %} 
				<font color="white">-</font>
				{% endif %}
			</p></td>
			<td><p class="tbsgunderline">				
				{% if actual_end != NULL %}
				{{ actual_end|time:"H:i" }}
				{% else %}
				<font color="white">-</font>
				{% endif %}

			</p></td>
			</tr>
			{% endfor %}
			</table>
</div>
{% endblock %}
